.aui .label-info {
    background-color: #225f97;
}

.hero-unit-personal h2 {
	color: #225f97;
}

.hero-unit-personal {
	background-color: transparent !important;
	border: 1px solid #e5e5e5;
	border-radius: 2px !important;
}

.aui a:hover {
	color: #333;
}

/*
.aui .nav-tabs .open .dropdown-toggle, 
.aui .nav-pills .open .dropdown-toggle, 
.aui .nav > li.dropdown.open.active > a:hover, 
.aui .nav > li.dropdown.open.active > a:focus {
	background-color: #225f97;
	border-color: #225f97;
}
*/

.aui .dropdown-menu > li > a:hover, 
.aui .dropdown-menu > li > a:focus, 
.aui .dropdown-submenu:hover > a, 
.aui .dropdown-submenu:focus > a {
	background-color: #225f97;
}
