<div class="templateDescriptorPanel-description">A
	multidimensional cluster with indication, for each vector, on if the
	vector is an outlier and the cluster ID it belongs to.</div>

<div class="templateDescriptorPanel-tableTemplateItem">Table
	Template</div>
<table class='templateDescriptorPanel-table'>
	<colgroup>
		<col class='templateDescriptorPanel-table-oce-first'>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Field Name</th>
			<th scope="col">Format</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&lt;field 1&gt;</td>
			<td>real</td>
		</tr>
		<tr>
			<td>&lt;field 2&gt;</td>
			<td>real</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
		</tr>
		<tr>
			<td>&lt;field n&gt;</td>
			<td>real</td>
		</tr>
		<tr>
			<td>clusterid</td>
			<td>string</td>
		</tr>
		<tr>
			<td>outlier</td>
			<td>boolean</td>
		</tr>
	</tbody>
</table>
