
    <span class="infodata">
        <a href="about.jsp" title="more information, publications and contact details">
            about X-Search
        </a>
        |
        <a href="login.jsp" title="X-Search configuration">
            configuration
        </a>
    </span>
   
