.PanelBorder {
}
.PanelBorder .GreenBorder_topCenter{
  background: url(../images/hborder.png) repeat-x 0px 0px;
}
.PanelBorder .GreenBorder_bottomCenter {
  background: url(../images/hborder.png) repeat-x 0px -3px;
}
.PanelBorder .GreenBorder_middleLeft {
  background: url(../images/vborder.png) repeat-y;
  width: 5px;
  height: 3px;
}
.PanelBorder .GreenBorder_middleRight {
  background: url(../images/vborder.png) repeat-y -2px 0px;
  width: 5px;
  height: 3px;
}
.PanelBorder .GreenBorder_topLeftInner,
.PanelBorder .GreenBorder_topRightInner,
.PanelBorder .GreenBorder_bottomLeftInner,
.PanelBorder .GreenBorder_bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
html>body .PanelBorder .GreenBorder_topLeft {
  background: url(../images/corner.png) no-repeat 0px 0px;
}
html>body .PanelBorder .GreenBorder_topRight {
  background: url(../images/corner.png) no-repeat -5px 0px;
}
html>body .PanelBorder .GreenBorder_bottomLeft {
  background: url(../images/corner.png) no-repeat 0px -5px;
}
html>body .PanelBorder .GreenBorder_bottomRight {
  background: url(../images/corner.png) no-repeat -5px -5px;
}
* html .PanelBorder .GreenBorder_topLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .PanelBorder .GreenBorder_topRightInner {
  width: 10px;
  height: 5px;
  margin-left: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .PanelBorder .GreenBorder_bottomLeftInner {
  width: 5px;
  height: 10px;
  margin-left: 0px;
  margin-top: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .PanelBorder .GreenBorder_bottomRightInner {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}

.gwt-DialogBox .Caption {
  background: #a7e492 url(../images/hborder.png) repeat-x 0px -2003px;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #a7e492;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
html>body .gwt-DialogBox .dialogBottomCenter {
  background: url(../images/hborder.png) repeat-x 0px -4px;
}
* html .gwt-DialogBox .dialogBottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/ie6/hborder_blue_shadow.png',sizingMethod='scale');
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(../images/vborder.png) repeat-y;
}
html>body .gwt-DialogBox .dialogMiddleRight {
  background: url(../images/vborder.png) repeat-y -4px 0px;
}
* html .gwt-DialogBox .dialogMiddleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/ie6/vborder_blue_shadow.png',sizingMethod='scale');
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
html>body .gwt-DialogBox .dialogTopLeft {
  background: url(../images/corner.png) no-repeat -13px 0px;
}
html>body .gwt-DialogBox .dialogTopRight {
  background: url(../images/corner.png) no-repeat -18px 0px;
}
html>body .gwt-DialogBox .dialogBottomLeft {
  background: url(../images/corner.png) no-repeat 0px -15px;
}
html>body .gwt-DialogBox .dialogBottomRight {
  background: url(../images/corner.png) no-repeat -5px -15px;
}
* html .gwt-DialogBox .dialogTopLeft {
  width: 5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/ie6/corner_dialog_topleft.png',sizingMethod='crop');
}
* html .gwt-DialogBox .dialogTopRight {
  width: 8px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/ie6/corner_dialog_topright.png',sizingMethod='crop');
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 23px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 13px;
  height: 23px;
  margin-left: -5px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
.gwt-SuggestBox {
  padding: 2px;
}
.gwt-SuggestBoxPopup {
  margin-left: 3px;
}
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #d3f1c8;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: url(../images/hborder.png) repeat-x;
}
html>body .gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: url(../images/hborder.png) repeat-x 0px -4px;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/ie6/hborder_blue_shadow.png',sizingMethod='scale');
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: url(../images/vborder.png) repeat-y;
}
html>body .gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: url(../images/vborder.png) repeat-y -4px 0px;
}
* html .gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/ie6/vborder_blue_shadow.png',sizingMethod='scale');
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;  
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
html>body .gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: url(../images/corner.png) no-repeat 0px -23px;
}
html>body .gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: url(../images/corner.png) no-repeat -5px -23px;
}
html>body .gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: url(../images/corner.png) no-repeat 0px -28px;
}
html>body .gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: url(../images/corner.png) no-repeat -5px -28px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 28px;
  margin-top: -23px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 13px;
  height: 28px;
  margin-left: -5px;
  margin-top: -23px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 36px;
  margin-top: -28px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 13px;
  height: 36px;
  margin-left: -5px;
  margin-top: -28px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='it.cnr.isti.UI.EFG.UIMain/images/corner.png',sizingMethod='crop');
}