
<div
	style="padding-top: 10px; font-size: 11px; font-family: sans-serif, arial, times;">
	<b>GIS Viewer </b> is a standalone application for supporting
	geospatial data visualization and management including: <br /> <br />
<ul style="list-style-type: disc; margin-left: 15px;">

	<li>layers visualization where the layers reside in multiple data
		sources;</li>
	<li>layers ordering with respect to the z axis through drag and
		drop;</li>
	<li>layers filtering through cql;</li>
	<li>layers data visualization;</li>
</ul>
<br />
GIS Viewer has been designed and developed by the NeMIS Laboratory team
at ISTI-CNR Pisa, Italy.
<br />
<br />
The Gis Viewer has been produced with the co-funding of the European
Commission in the context of the iMarine project. iMarine
(www.i-marine.eu) (RI – 283644) is a Research Infrastructures
Combination of Collaborative Project and Coordination and Support Action
(CP-CSA) co-funded by the European Commission under the Capacities
Programme, Framework Programme Seven (FP7).
<br />
</div>
