form {
    margin-bottom: 10px !important;
}

.helpFontSize {
	font-size: 14px;
}
.invites-title {
	display: block;
	font-size: 16px;
	color: #555;
	font-weight: 400;
	margin-bottom: 10px;
}

.invites-frame {
	padding: 10px 10px 0px;
	background-color: #FFF;
	border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border: 1px solid #DBDBDB;
}

.mail-image {
	padding: 5px;
}