<div class="{style.progressWrapOrange}" style="{wrapStyles}">
  <div class="{style.progressInnerOrange}">
    <div class="{style.progressBarOrange}" style="{progressBarStyles}">
      <div class="{style.progressTextOrange}" style="{progressTextStyles}">
        <div style="{widthStyles}">{text}</div>
      </div>
      <div class="{style.progressTextOrange} {style.progressTextBackOrange}">
        <div style="{widthStyles}">{text}</div>
      </div>
    </div>
  </div>
</div>
