/** Add css rules here for your application. */
.portlet-title-style {
	display: block;
	font-size: 16px;
	color: #555;
	font-weight: bolder;
	margin-bottom: 10px;
}

.table-style {
	margin-left: 10px;
}