<div class="templateDescriptorPanel-description">
	A generic dataset to be used in general purpose algorithms, e.g. in Clustering.
 </div>

<div class="templateDescriptorPanel-tableTemplateItem">Table
	Template</div>
<table class='templateDescriptorPanel-table'>
	<colgroup>
		<col class='templateDescriptorPanel-table-oce-first'>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Field Name</th>
			<th scope="col">Format</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&lt;field 1&gt;</td>
			<td>&lt;any type 1&gt;</td>
		</tr>
		<tr>
			<td>&lt;field 2&gt;</td>
			<td>&lt;any type 2&gt;</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
		</tr>
		<tr>
			<td>&lt;field n&gt;</td>
			<td>&lt;any type n&gt;</td>
		</tr>
	</tbody>
</table>
