.treeContainer {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	color: #333;
}

.treeContainer .gwt-HTML {
	padding-left: 3px;
}

.gwt-Tree .gwt-TreeItem {
	margin-top: -3px;
	margin-bottom: -3px;
	-webkit-transition: background-color .3s ease-in;
	-moz-transition: background-color .3s ease-in;
	-o-transition: background-color .3s ease-in;
	transition: background-color .3 ease-in;
}

.gwt-Tree .gwt-TreeItem:hover {
	background: #E2EBF5;
}