div#usersManagementPortletContainer button.close {
	color : #4cb5d2 !important;
	opacity : 1 !important;
}
div#usersManagementPortletContainer span#theHeader {
	color : #4cb5d2;
}
div#usersManagementPortletContainer button#saveUsersRolesModal {
	color : #4cb5d2;
}
div#usersManagementPortletContainer button#closeUsersRolesModal,
div#usersManagementPortletContainer  button#acceptUsersRequestsOk,
div#usersManagementPortletContainer  span#acceptRequestHeader,
div#usersManagementPortletContainer  button#acceptDeleteUsersFromCurrentSiteModal,
div#usersManagementPortletContainer  span#deleteCurrentSiteUsersHeader,
div#usersManagementPortletContainer  button#closeDeleteUsersFromCurrentSiteModal {
	color : #4cb5d2;
}
div#usersManagementPortletContainer div#blueLineBottom,
 div#usersManagementPortletContainerSiteTeamsEditMode div#blueLineBottom {
    border-bottom: 1px solid #4cb5d2;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-footer,
div#usersManagementPortletContainer  div#usersRequestsModal div.modal-footer {
	background-color: white;
	background: white;
}
div#usersManagementPortletContainer span#textAboveTagsInput ,
div#usersManagementPortletContainer span#textAboveTagsInputInAssignRolesModal,
div#usersManagementPortletContainer span#textAboveTagsInputInAssignUsersToGroupsModal {
	/* opacity: 0.8; */
	display : block;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body div.bootstrap-tagsinput {
	diplay : inline-block;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body div.bootstrap-tagsinput input{
	display : none;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body label:not(#deleteTheRolesLabel),
	div#usersManagementPortletContainer div#assignUsersRolesModal div.modal-body label:not(#deleteTheRolesLabelInAssignRolesModal),
	div#usersManagementPortletContainer div#assignUsersToGroupsModal div.modal-body label:not(#deleteTheRolesLabelInAssignUsersToGroupsModal) {
	color : #4cb5d2;
	display : inline-block;
}
div#usersManagementPortletContainer div#changeUsersTeamsModal div.modal-body label:not(#deleteTheRolesLabel) {
	color : #4cb5d2;
	display : inline-block;
}
div#usersManagementPortletContainer label#deleteTheRolesLabel {
	display : inline-block;
}
div#usersManagementPortletContainer label#deleteTheRolesLabelInAssignRolesModal,
div#usersManagementPortletContainer label#deleteTheRolesLabelInAssignUsersToGroupsModal {
	display : inline-block;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body div.bootstrap-tagsinput {
	display : inline-block;
	margin-left : 10px;
}
div#usersManagementPortletContainer span#textAboveTagsInput div.row,
div#assignUsersRolesModal span#textAboveTagsInputInAssignRolesModal div.row,
div#assignUsersToGroupsModal span#textAboveTagsInputInAssignUsersToGroupsModal div.row {
	margin-left : 0px;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body span#textAboveTagsInput div.row:last-of-type div.bootstrap-tagsinput {
	border: 1px solid #4cb5d2;
	border-radius: 8px;
	margin-top:-7px
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body span#textAboveTagsInput div.row:nth-last-child(-n+2) div.text-core.span9,
	div#usersManagementPortletContainer div#assignUsersRolesModal div.modal-body span#textAboveTagsInputInAssignRolesModal div.row:last-of-type div.text-core.span9,
	div#usersManagementPortletContainer div#assignUsersToGroupsModal div.modal-body span#textAboveTagsInputInAssignUsersToGroupsModal div.row:last-of-type div.text-core.span9 {
	border-radius: 5px;
    border: 1px solid #4cb5d2;
    padding: 5px !important;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body span#textAboveTagsInput div.row:nth-last-child(-n+2),
div#usersManagementPortletContainer div#assignUsersRolesModal div.modal-body span#textAboveTagsInputInAssignRolesModal div.row:last-of-type,
div#usersManagementPortletContainer div#assignUsersToGroupsModal div.modal-body span#textAboveTagsInputInAssignUsersToGroupsModal div.row:last-of-type {
	margin-top: 30px;
}
div#usersManagementPortletContainer div#changeUsersRolesModal div.modal-body span#textAboveTagsInput i {
	color : #4cb5d2;
	padding : 12px
}
div#usersManagementPortletContainer div#dropdownList {
	max-height:200px;
    overflow: scroll;
    margin-left : 10px;
    border : 1px solid #4cb5d2;
}
div#usersManagementPortletContainer div.listElement:not(:last-of-type) {
	border-bottom: 1px solid #4cb5d2;
}
div#usersManagementPortletContainer textarea#roleList {
	/* margin-left : 10px; */
	width : 100% !important;
	border-radius : 7px;
	padding-top : 8px !important;
	padding-bottom : 8px !important;
	display : none !important;
}

div#usersManagementPortletContainer textarea#roleListInAssignRolesModal {
	/* margin-left : 10px; */
	width : 100% !important;
	border-radius : 7px;
	padding-top : 8px !important;
	padding-bottom : 8px !important;
	display : none !important;
}
div#usersManagementPortletContainer span#textAboveTagsInput div.row:last-of-type div.text-core.offset3 {
	width: 70%;
}
div#usersManagementPortletContainer span#textAboveTagsInput div.row:nth-last-child(-n+2) div.text-core.span9 div.text-wrap div.text-arrow,
	div#usersManagementPortletContainer span#textAboveTagsInputInAssignRolesModal div.row:last-of-type div.text-core.span9 div.text-wrap div.text-arrow,
	div#usersManagementPortletContainer span#textAboveTagsInputInAssignUsersToGroupsModal div.row:last-of-type div.text-core.span9 div.text-wrap div.text-arrow {
    -ms-transform: scale(1.6,1.6); /* IE 9 */
    -webkit-transform: scale(1.6,1.6); /* Safari */
    transform: scale(1.6,1.6);
    height: 35px;
    margin-right : 10px;
} 
div#usersManagementPortletContainer span#textAboveTagsInput div.row:last-of-type div.text-core.offset3 div.text-wrap {
	width: 100% !important;
}

div#usersManagementPortletContainer div.text-dropdown.text-position-below {
	margin-left: 10px;
}
div#usersManagementPortletContainer div.text-tags.text-tags-on-top {
	margin-left:14px;
	margin-top:6px;
}
div#usersManagementPortletContainer div.text-core.offset3 div.text-wrap div.text-arrow {
	margin-top: 3%;
}
div#usersManagementPortletContainer div#usersRequestsModal {
	width : 60%;
	left : 35%;
	/* top : 33%; */
	color : #4cb5d2 !important;
}
div#usersManagementPortletContainer button#acceptAll,
div#usersManagementPortletContainer  button#rejectAll,
div#usersManagementPortletContainer  button#sendAcceptance,
div#usersManagementPortletContainer  button#sendRejection {
	color : #4cb5d2 !important
}
div#usersManagementPortletContainer a#reloadUsersRequestsTable {
	font-size: 14px;
	background-color: #7EAB10;
	background: #7EAB10;
	color: white;
	display: inline;
	border-radius: 50% !important;
	padding: 6px 9px;
	margin-left: 8px;
	cursor: pointer;
}
div#usersManagementPortletContainer div#usersRequestsTableContainer {
	position : relative;
}
div#usersManagementPortletContainer div#requestsAcceptanceContainer {
	position : relative;
}
div#usersManagementPortletContainer div#requestsAcceptanceContainer.hideSection,
div#usersManagementPortletContainer  div#requestsAcceptanceBody div.row.hideSection {
	display : none;
}
div#usersManagementPortletContainer div#usersRequestsTableContainer.hideSection {
	display : none;
}
div#usersManagementPortletContainer div#clickToGoBack {
	cursor: pointer;
	display : inline-block;
}
div#usersManagementPortletContainer button.hideButton {
	display : none !important;
}
div#usersManagementPortletContainer div#requestsAcceptanceBody > div.row > div.text-core {
	position : static;
	height: 100% !important;
}
div#usersManagementPortletContainer div#requestsAcceptanceBody > div.row:not(last-of-type) {
	margin-bottom: 10px;
}
div#usersManagementPortletContainer textarea#tagsForEmails {
	display : none;
}
div#usersManagementPortletContainer div#requestsAcceptanceBody label {
	display : inline-block;
}
div#usersManagementPortletContainer div#requestsAcceptanceBody div.row {
	margin-left : 0px;
}
div#usersManagementPortletContainer div#requestsAcceptanceToolbar {
	display:block;
	padding: 10px;
}
div#usersManagementPortletContainer div#emailForAcceptance,
 div#usersManagementPortletContainer div#emailForRejection {
	background-color : rgb(234, 234, 234);
	background : rgb(234, 234, 234);
	padding : 10px;
	border-radius : 7px;
	color : black;
}
div#usersManagementPortletContainer a#reloadUsersRequestsTable.btn.hide{
	display:none;
}
div#usersManagementPortletContainer div.modal-backdrop.fade.in.hideFirstModal {
	z-index: 1051;
}
div#usersManagementPortletContainer div#acceptUsersRequestsModal {
	z-index: 1052;
}
div#usersManagementPortletContainer #editEmailTemplate {
	float:right;
	color : #4cb5d2;
	border-radius: 25%;
	background-color: #fff;
	background: #fff;

	border: none;
	width: 40px;
	height: 30px;
}
div#usersManagementPortletContainer label#labelRejectionEmail {
	display:inline-block;
}
div#usersManagementPortletContainer input#sendAutomaticRejectionEmail {
	margin:0px !important;
}
div#usersManagementPortletContainer span#theMiniHeader {
	left: 15px;
    top: 1.9em;
    display: inline-block;
    position: absolute;
    color : #555;
}
div#usersManagementPortletContainer p#deleteTheRoles {
	margin : 0 0 5px;
}
div#usersManagementPortletContainer button#closeUSerDetailsModal,
div#usersManagementPortletContainer  span#userName,
div#usersManagementPortletContainer  span#detailsFor,
div#usersManagementPortletContainer  span#username, div#userDetailsModal > div.modal-body > div.row-fluid > label {
	color : #4cb5d2;
}
div#usersManagementPortletContainer span#userName {
	color : #4cb5d2;
}
div#usersManagementPortletContainer span#detailsFor{
	font-size : 17.5px;
	color : #0271be;
}
div#usersManagementPortletContainer  span#userName {
	display:none;
}
div#usersManagementPortletContainer div#usersRequestsModal .modal-body {
	/* overflow-y : visible; */
	overflow-x : visible;
}
div#usersManagementPortletContainer div.modal.fade.in .close:hover,
 div#usersManagementPortletContainer div.modal.fade.in .btn-link:hover,
 div#usersManagementPortletContainerSiteTeamsEditMode div.modal.fade.in .btn-link:hover {
	background : #eeeeee !important;
	background-color : #eeeeee !important;
	border-radius : 7px !important;
}
div#usersManagementPortletContainer span#detailsFor,
 div#usersManagementPortletContainerSiteTeamsEditMode span#teamPrefixHeader {
	/* margin-bottom : 8px; */
}
div#usersManagementPortletContainer div#deleteUsersFromCurrentSiteModal span#deleteCurrentSiteUsersHeader,
div#usersManagementPortletContainer div#changeUsersRolesModalHeaderDiv span#theHeader,
div#usersManagementPortletContainer div#InternalServerErrorModal div#blueLineBottom {
	font-size : 18px;
}
div#usersManagementPortletContainer div#changeUsersRolesModalHeaderDiv {
	border-bottom: 1px solid #4cb5d2;
}
div#usersManagementPortletContainer div#InternalServerErrorModal div#blueLineBottom {
	font-size : 18px;
	padding-bottom : 7px;
	color : #4cb5d2;
}
div#usersManagementPortletContainer div#InternalServerErrorModal #closeInternalServerModal {
	color : #4cb5d2;
}
#usersManagementPortletContainerSiteTeamsEditMode div#editGroupTeamModal div#groupTeamAttributes div.row-fluid {
    margin-bottom: 10px;
}
div#usersManagementPortletContainer textarea#teamsList,
div#usersManagementPortletContainer textarea#teamsListInAssignUsersToGroupsModal {
	display : none;
}
#usersManagementPortletContainerSiteTeamsEditMode span#teamPrefixHeader,
 #usersManagementPortletContainerSiteTeamsEditMode span#teamNameHeader,
 #usersManagementPortletContainerSiteTeamsEditMode span#acceptRequestHeader,
 #usersManagementPortletContainerSiteTeamsEditMode span#acceptRequestHeader {
	color : #4cb5d2;
	font-size : 18px;
}
#usersManagementPortletContainerSiteTeamsEditMode .modal-footer,
 #usersManagementPortletContainerSiteTeamsEditMode .modal-header {
	border-top : none;
	border-bottom : none;
}
#usersManagementPortletContainerSiteTeamsEditMode .modal.fade button {
	color : #4cb5d2;
}
#usersManagementPortletContainerSiteTeamsEditMode .modal.fade button.close {
	opacity : 1;
}
#usersManagementPortletContainer #acceptRequestHeader {
	font-size: 18px;
}
div#displayGroupTeamUsersModal {
	width: 700px;
	left: 45%;
}
div.modalHeaderContainer {
	display: inline-block;
}
div.modalSubHeader {
	/* display: inline-block; */
	color: #000;
}
#usersRequestsModal .modal-header {
    padding-bottom: 0px;
}
#clickToGoBack {
	color: #0271be;
}