/* h1 { */
/* 	font-size: 2em; */
/* 	font-weight: bold; */
/* 	color: #777777; */
/* 	margin: 40px 0px 70px; */
/* } */

.sendButton {
	display: block;
	font-size: 16pt;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.cancel-upload {
	margin-left: 5px;
	cursor: pointer;
}

.baloonGoTop {
	padding: 1px;
	/* 	border: solid; */ /* 	border-width: 1px; */
	/* 	border-color: rgb(200, 210, 240); */ /* 	border-radius: 15px; */
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	/* 	background-color: #0B3C9E; */
	background-color: #F5F5F5;
	/* 	color: #D2D2D2; */
	font-family: verdana, arial;
	font-size: 11px;
	/* 	border: 1px;
	border-color: gray; */ /* margin-left: 50%; */
	margin-top: 200px;
	/* 	opacity: 0.5; */
	width: 300px;
	height: 150px;
}

.ClosableDialogCaption {
	width: 100%;
}

.ClosableDialog {
	max-width: 600px;
	/* 	min-width: 350px; */
}

.ClosableDialog .ClosableDialogCaption .gwt-HTML {
	color: #19326C;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 5px;
}

.CloseButton {
	float: right;
	cursor: pointer;
	padding-top: 5px;
}

.fileInputUploader input {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 4px;
	color: #464646;
	cursor: pointer;
	font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial,
		sans-serif;
	font-size: 13px;
	margin-top: 10px;
	padding: 10px 15px;
	min-width: 350px;
}

.noUploads {
	min-width: 350px;
	font-size: 15px;
	font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial,
		sans-serif;
}

.upladerMargin {
	margin-bottom: 3px;
}

.align-right-close {
	width: auto;
	margin-right: 0px;
	margin-left: auto;
}

/* .baloonGoTop :HOVER { */
/* 	cursor: pointer; */
/* 	color: #FFF; */
/* } */

.textbox:hover {
	opacity: 1;
}

.text {
	padding-top: 50px;
}


/************ DRAG & DROP *******************/

.container-drop_target {
/* 	position: relative; */
}

.drop_target_outer {
/* 	position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.drop_target_inner {
	width: 50%;
	height: 50%;
	top: 25%;
	margin: 0 auto;
	position: relative;
	background-image: url("dropfilehere.png");
	background-repeat: no-repeat;
	background-position: center;
	/* 	background: orange; */
}

.drop_target {
	/* 	border: 5px dashed #D9D9D9; */ /* 	border-radius: 10px; */
	/* 	padding: 50%; */ /* 	text-align: center; */ /* 	display: none; */
	width: 100%;
	height: 100%;
	/* 	height: 20px; */
}

.over-true {
/* 	border: 3px dashed #D9D9D9; */
	border-radius: 5px;
	/* 	padding: 50%; */
/* 	text-align: center; */
	background-color: #FFF !important;
}

.over-false {
	background: none;
}

/* .display-true {
		display: inline-flex;
	
}

.display-false {
		display: none;
	
} */

.drop_target_inner_error {
	background-image: url("status-error.png") !important;
}

/************ END DRAG & DROP *******************/
