<div class="templateDescriptorPanel-description">A set of records
	describing information about a set of species.</div>

<div class="templateDescriptorPanel-tableTemplateItem">Table
	Template</div>
<table class='templateDescriptorPanel-table'>
	<colgroup>
		<col class='templateDescriptorPanel-table-oce-first'>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Field Name</th>
			<th scope="col">Format</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>institutioncode</td>
			<td>string</td>
		</tr>
		<tr>
			<td>collectioncode</td>
			<td>string</td>
		</tr>
		<tr>
			<td>dataset</td>
			<td>string</td>
		</tr>
		<tr>
			<td>cataloguenumber</td>
			<td>string</td>
		</tr>
		<tr>
			<td>dataprovider</td>
			<td>string</td>
		</tr>
		<tr>
			<td>datasource</td>
			<td>string</td>
		</tr>
		<tr>
			<td>author</td>
			<td>string</td>
		</tr>
		<tr>
			<td>credits</td>
			<td>string</td>
		</tr>
		<tr>
			<td>recordedby</td>
			<td>string</td>
		</tr>
		<tr>
			<td>eventdate</td>
			<td>timestamp without time zone</td>
		</tr>
		<tr>
			<td>modified</td>
			<td>timestamp without time zone</td>
		</tr>
		<tr>
			<td>scientificname</td>
			<td>string</td>
		</tr>
		<tr>
			<td>kingdom</td>
			<td>string</td>
		</tr>
		<tr>
			<td>"family"</td>
			<td>string</td>
		</tr>
		<tr>
			<td>locality</td>
			<td>string</td>
		</tr>
		<tr>
			<td>country</td>
			<td>string</td>
		</tr>
		<tr>
			<td>citation</td>
			<td>string</td>
		</tr>
		<tr>
			<td>decimallatitude</td>
			<td>double precision</td>
		</tr>
		<tr>
			<td>decimallongitude</td>
			<td>double precision</td>
		</tr>
		<tr>
			<td>coordinateuncertaintyinmeters</td>
			<td>string</td>
		</tr>
		<tr>
			<td>maxdepth</td>
			<td>double precision</td>
		</tr>
		<tr>
			<td>mindepth</td>
			<td>double precision</td>
		</tr>
		<tr>
			<td>basisofrecord</td>
			<td>string</td>
		</tr>
	</tbody>
</table>
