<div class="templateDescriptorPanel-description">
	A time series of generic observations. The time header is necessary for assessing the time dimension and can be any column. Time can be specified in some date format, e.g. 2012, 12/1/2012, 12/1/12 13:30, 12/1/12  1:30 pm. An automatic guesser will transform the dates into timestamp. All the dates in the time column must be compliant to the same format.
 </div>

<div class="templateDescriptorPanel-tableTemplateItem">Table
	Template</div>
<table class='templateDescriptorPanel-table'>
	<colgroup>
		<col class='templateDescriptorPanel-table-oce-first'>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Field Name</th>
			<th scope="col">Format</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&lt;field 1&gt;</td>
			<td>&lt;any type 1&gt;</td>
		</tr>
		<tr>
			<td>&lt;field 2&gt;</td>
			<td>&lt;any type 2&gt;</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
		</tr>
		<tr>
			<td>time</td>
			<td>&lt;some_date_string&gt;</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
		</tr>
		<tr>
			<td>&lt;field n&gt;</td>
			<td>&lt;any type n&gt;</td>
		</tr>
	</tbody>
</table>
