#wrapper {
	font: 11px/1.5 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
	margin: 0 auto;
	width: 92% !important;
}

#bottombar {
	width: 100% !important;
}

.x-menubar {
	background-image: none;
	background-color: #FFF;
}

.x-panel-body-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.x-border-layout-ct {
	background-color: transparent;
	border-color: transparent;
}

.x-toolbar {
	border-width: 0 1px 0 1px;
	background-image: none;
	background-color: #FFF;
}

.x-panel-header {
	background-image: none;
	background-color: #FFF;
}

.x-toolbar .xtb-sep {
    background-image: none !important;
    background-color: transparent;
}

.x-accordion-hd {
	background-position: 0 0px;
}

.x-status-text {
	color: #226599;
	font-weight: bold !important;
}

.x-status-text-panel { 
	border-color: transparent;
}

.x-component {
	color: #226599;
}

.x-btn button { 
	color: #226599;
	font-weight: bold !important;
	
}

.x-panel-mc {
	padding-top: 5px;
	background: #FFF url(images/bg-pattern.png) repeat;
	border-color: #226599;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ext-el-mask-msg {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 2px;
	background-color: #FFF;
	background-image: none;
}

.ext-el-mask-msg div {
	border-color: transparent;
	background-color: transparent;
}

.loading-indicator {
	background-position: 5px 50%;
	background-image: url("images/loader.gif") ;
	}
