@CHARSET "UTF-8";

.geoanalytics-wrapper-portlet .modal-header {
	background-color: rgb(2, 113, 190);
	color: rgb(255, 255, 255);
}

.geoanalytics-wrapper-portlet .modal .btn {
	color: white;
	background-color: rgb(2, 113, 190);
	background-image: none;
	border-radius: 7px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	float: right;
    margin-right: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.geoanalytics-wrapper-portlet #settingModal #modalLabel {
	line-height: 7px;
	margin-left: 0px
}

.geoanalytics-wrapper-portlet #settingModal .modal-header button.close {
	color: white;
	font-weight: 100;
	opacity: 1;
}

.geoanalytics-wrapper-portlet #settingModal .modal-footer {
	border-top: none;
}

.geoanalytics-wrapper-portlet .selector-wrapper > select {
	height: 40px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-image: linear-gradient(45deg, transparent 50%, rgb(2, 113, 190) 50%), linear-gradient(135deg, rgb(2, 113, 190) 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em - -3px), calc(100% - 15px) calc(1em - -3px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.geoanalytics-wrapper-portlet .selector-wrapper > select:focus {
	height: 40px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-image: linear-gradient(45deg, transparent 50%, rgb(2, 113, 190) 50%), linear-gradient(135deg, rgb(2, 113, 190) 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em - -3px), calc(100% - 15px) calc(1em - -3px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
    outline: none;
    box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.geoanalytics-wrapper-portlet #settingModal .modal-body label {
	color: rgb(2,113, 190);
	font-size: 12px;
	margin-left: -5px;
}

.geoanalytics-wrapper-portlet #settingModal input[type="file"] {
    display: none;
}

.geoanalytics-wrapper-portlet #settingModal .importTsv {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 9px 12px;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-top: 10px;
}

.geoanalytics-wrapper-portlet #nameOfNewLayer {
	border-radius: 7px;
	padding: 9px 0px;
}

.geoanalytics-wrapper-portlet #settingModal .modal-body #TSVFileName {
	padding: 9px 12px;
	margin-top: 7px;
	margin-right: 0px;
	display: inline;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}