.tab-pane > div {
	margin: 20px 0px;
}

.tab-pane > div#importOptions {
	margin: 10px 0px;
}

#featureActions {
	display:none;
}

.adminContainer div#wfsImporter button {
    background: rgb(2, 113, 190);
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    display: inline-block;
    padding: 20px 20px;
    font-size: 15px;
    cursor: pointer;
    outline: 0;
	border: 1px;
    border-radius: 3px;
}

.adminContainer div#wfsImporter button:hover {
    background: rgb(4, 133, 220);
    color: white;
}

.adminContainer .boldLetters {
	color: #0271be;
    font-weight: 600;
}

.aui .modal.fade.in {
	top: 10%;
}

.aui .hide.fade.in {
	display: block !important;
}

.aui .table th, 
.aui .table td {
	border-top: none !important;	
	background-color: white;
}

 .aui .wfsLayout input[type="text"] {
	width: 80%;
	border-radius: 7px;
	height: 28px;
}

.aui .wfsLayout input[type="text"]:focus {
	border-color: #555;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #555;
}

.adminContainer div.header-top.row {
	margin: -51px 0px auto -1px;
}

.adminContainer {
	margin-top: 10px;
}


.loader {
	z-index: 1000;
	margin: 300px auto;
	padding: 10px;
	width: 130px;
	border-radius: 10px;
	filter: alpha(opacity=100);
	opacity: 1;
}

.loader img {
	height: 128px;
	width: 128px;
}

.loadContainer {
/* 	display: none; */
    position: fixed;
    z-index: 1058;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    filter: alpha(opacity=60);
    opacity: 0.8;
}

.adminContainer .tabUl li a {
    max-width: 138px;
}

#containerOfActions ul {
	background: rgb(2, 113, 190);
	color: white;
}

#containerOfActions ul li {
	cursor: pointer;
}

.adminContainer #notificationContainer {
    margin: 0 auto;
    width: 100%;
	height: initial
    left: 14px;
    z-index: 20000;
    border-radius: 7px;
    cursor: pointer;
    transition: opacity 0.95s linear;
    cursor: auto;
    margin-bottom: 30px;
}

.adminContainer #notificationContainer .alert {
	background-color: #eeeeee;
	color: #0271be;
	border: 2px solid #4cb5d2;
}

.adminContainer #notificationContainer .fade {
	opacity: 0;
	transition: opacity 0.95s linear;
	cursor: auto;
}

.adminContainer #notificationContainer .fade.in {
	opacity: 1;
}

.adminContainer #notificationContainer div.alert.fade.redmine {
	color: red;
}

.adminContainer #notificationContainer div.alert.fade.in.redmine {
	color: red;
}

.adminContainer #notificationContainer div.alert.fade.in {
	cursor: pointer;
}

.adminContainer #notification {
    margin: 0 auto;
    z-index: 20000;
    width: 77px;
    /* background-color: #019ad3; */
    border-radius: 26px;
    cursor: auto;
	margin-top: -32px;
}

.adminContainer #notificationContainer .alert-success {
	color: white;
    background-color: #019ad3;
    border: 2px solid #4cb5d2;
    text-shadow: none;
    opacity: 0.7;
}

.error {
	color: red;
}

.errorOnInput {
	border: 1px solid red !important;
}

.getLayers {
	background: #0271be;
    color: white !important;
    padding: 10px 10px !important;
    font-size: 15px !important;
    cursor: pointer !important;
    margin-bottom: 9px !important;
    margin-right: 7px !important;
    border-radius: 8px !important;
    outline: 0 !important;
	float: right;
	margin-top: -45px !important;
}

.clearAll {
	background: #0271be;
    color: white !important;
	margin-top: 10px !important;
    padding: 10px 10px !important;
    font-size: 11px !important;
    cursor: pointer !important;
    margin-bottom: 9px !important;
    margin-right: 7px !important;
    border-radius: 23px !important;
    outline: 0 !important;
    float: right;
}

.wfsLayout table {
	margin-bottom: 30px !important;
}

.labelOutputFormat {
    max-width: 127px;
}

#outputFormat:focus {
	border-color: 1px solid #cccccc;
    box-shadow: none;
}

.clearAll:hover {
	background-color: rgb(4, 133, 220);
}

#selectLayer {
	color: black;
	background-color: white;
	float: left;
}

.selectTaxonomy {
	width: 32%;
    float: left;
}

.selectTerm {
	width: 32%;
    float: left;
}

#containerOfActions {
	
}

#taxonomiesDropdownDiv ul {
	max-height: 150px;
    width: inherit;
	overflow: auto;
	box-shadow: none;
}

#termsDropdownDiv ul {
	max-height: 150px;
    width: inherit;
	overflow: auto;
	box-shadow: none;
}

#taxonomiesDropdownDiv a,
#termsDropdownDiv a {
	background: rgb(2, 113, 190);
    color: white;
    border: none;
}

.aui .caret {
	border-top: 4px solid white;
	margin-left: 3px !important;
}

.listContainer {
	min-height: 40px;
}

.aui #wfsImporter input[type="color"], 
.aui #wfsImporter input[type="date"], 
.aui #wfsImporter input[type="datetime"], 
.aui #wfsImporter input[type="datetime-local"], 
.aui #wfsImporter input[type="email"], 
.aui #wfsImporter input[type="month"],
.aui #wfsImporter input[type="number"], 
.aui #wfsImporter input[type="password"], 
.aui #wfsImporter input[type="search"], 
.aui #wfsImporter input[type="tel"], 
.aui #wfsImporter input[type="text"], 
.aui #wfsImporter input[type="time"], 
.aui #wfsImporter input[type="url"], 
.aui #wfsImporter input[type="week"], 
.aui #wfsImporter select, 
.aui #wfsImporter textarea, 
.aui #wfsImporter .uneditable-input {
	color: rgb(2, 113, 190);
}

.saveChecked {
	background: #0271be;
	color: white !important;
	padding: 10px 10px !important;
	font-size: 15px !important;
	cursor: pointer !important;
	margin-bottom: 9px !important;
	margin-right: 7px !important;
	border-radius: 8px !important;
	outline: 0 !important;
	margin-top: 170px !important;
    float: right;
}

.saveChecked:hover {
	background-color: rgb(4, 133, 220);
}

.aui .featureTypeList li {
	line-height: 37px;
}

.aui .featureTypeList {
	list-style: none;
	width: 75%;
	float: left;
}

.getLayers:hover {
	background-color: rgb(4, 133, 220);
}

.wfsLayout label {
	color: #555;
    font-weight: bold;
}

.adminContainer div.headerOfModal {
	background-color: #0271be;
    height: 40px;
    margin-bottom: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: 49px;
}

.tableActions td {
	float: right;
}

.adminContainer .headerOfModal .titleOfModal {
	margin: 9px 0;
	font-size: 21px;
	color: white;
	font-weight: normal;
	margin-left: 12px;
	line-height: 52px;
}

.adminContainer #headerTitleCon .headerTitle h1 {
	margin: 53px 0;
    font-size: 15px;
    color: white;
    font-weight: normal;
    margin-left: 12px;
    line-height: 33px;
}


@media (min-width: 281px) {
	.container-fluid.adminContainer .row {
		margin: auto 5px auto 5px;
	}
}

.adminContainer #headerTitleCon {
	background-color: #0271be;
	padding: 0px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.aui .container-fluid {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.adminContainer #headerTitleCon h1.headerTitle {
margin: 44px 0;
    font-size: 14px;
    color: white;
    font-weight: normal;
    margin-left: 12px;
}


.adminContainer .tabs-left > .nav-tabs {
    margin-left: 15px;
    margin-top: -15px;
}

.adminContainer .tabs-left>.nav-tabs>li>a {
	border-radius: 9px 0 0 7px;
}

.adminContainer .tabs-left > .nav-tabs .active > a {
	border-color: #4cb5d2 transparent #4cb5d2 #4cb5d2;
    color: #4cb5d2;
    width: 103px;
}

.adminContainer .tabs-left > .nav-tabs .active > a:hover, 
.adminContainer .tabs-left > .nav-tabs .active > a:focus {
	background-color: white;
	color: #4cb5d2;
}


.aui .tabs-left>.nav-tabs .active>a, 
.aui .tabs-left>.nav-tabs .active>a:hover, 
.aui .tabs-left>.nav-tabs .active>a:focus {
	border-color: #4cb5d2 transparent #4cb5d2 #4cb5d2 !important;
	width: 146px !important;
}


.adminContainer .tabs-left>.nav-tabs {
    border-right: 1px solid #4cb5d2;
}

.adminContainer .tabs-left>.nav-tabs>li>a:hover, 
.adminContainer .tabs-left>.nav-tabs>li>a:focus {
	border-color: none;
	color: white;
}

.adminContainer .nav>li>a:hover, 
.adminConatiner .nav>li>a:focus {
	background-color: #4cb5d2;
}

.adminContainer li a {
	color: #0271be;
}

/* taxonomies rules */

#addTaxonomyButton,
#taxonomyConfigButton,
#addTermButton,
#layerActionDelete,
#featureActionDelete {
	background: rgb(2, 113, 190);
	color: white;
	margin-left: 0px;
	padding: 10px 12px;
	font-size: 15px;
	cursor: pointer;
	outline: 0;
	border: 1px;
	border-radius: 3px;
	margin-bottom: 3px;
}

#noneLabel,
#boundingBoxLabel,
#proximityLabel {
	background: rgb(2, 113, 190);
	color: white;
	margin-left: 0px;
/* 	margin-top: 10px; */
/* 	display: inline-block; */
	padding: 10px 12px;
	font-size: 15px;
	cursor: pointer;
	outline: 0;
	border: 1px;
	margin-bottom: 3px;
}

.confs {
	display: inline-flex;
	width: 100%;
}

.confs #searchCon {
	width: 60%;
}

.confs .addTaxonomyButtonCon {
	width: 40%;
	float: right;
	margin-left: 100px;
}

#addTaxonomyModal label,
#addTermModal label,
#editTaxonFormObj label,
#editTermFormObj label {
	color: #555;
    font-weight: bold;
    width: inherit;
    margin-right: 100px;
}

.aui #addTaxonomyModal input[type="color"], 
.aui #addTaxonomyModal input[type="date"], 
.aui #addTaxonomyModal input[type="datetime"], 
.aui #addTaxonomyModal input[type="datetime-local"], 
.aui #addTaxonomyModal input[type="email"], 
.aui #addTaxonomyModal input[type="month"],
.aui #addTaxonomyModal input[type="number"], 
.aui #addTaxonomyModal input[type="password"], 
.aui #addTaxonomyModal input[type="search"], 
.aui #addTaxonomyModal input[type="tel"], 
.aui #addTaxonomyModal input[type="text"], 
.aui #addTaxonomyModal input[type="time"], 
.aui #addTaxonomyModal input[type="url"], 
.aui #addTaxonomyModal input[type="week"], 
.aui #addTaxonomyModal select, 
.aui #addTaxonomyModal textarea, 
.aui #addTaxonomyModal .uneditable-input,

.aui #addTermModal input[type="color"], 
.aui #addTermModal input[type="date"], 
.aui #addTermModal input[type="datetime"], 
.aui #addTermModal input[type="datetime-local"], 
.aui #addTermModal input[type="email"], 
.aui #addTermModal input[type="month"],
.aui #addTermModal input[type="number"], 
.aui #addTermModal input[type="password"], 
.aui #addTermModal input[type="search"], 
.aui #addTermModal input[type="tel"], 
.aui #addTermModal input[type="text"], 
.aui #addTermModal input[type="time"], 
.aui #addTermModal input[type="url"], 
.aui #addTermModal input[type="week"], 
.aui #addTermModal select, 
.aui #addTermModal textarea, 
.aui #addTermModal .uneditable-input,

.aui #editTaxonFormObj input[type="color"], 
.aui #editTaxonFormObj input[type="date"], 
.aui #editTaxonFormObj input[type="datetime"], 
.aui #editTaxonFormObj input[type="datetime-local"], 
.aui #editTaxonFormObj input[type="email"], 
.aui #editTaxonFormObj input[type="month"],
.aui #editTaxonFormObj input[type="number"], 
.aui #editTaxonFormObj input[type="password"], 
.aui #editTaxonFormObj input[type="search"], 
.aui #editTaxonFormObj input[type="tel"], 
.aui #editTaxonFormObj input[type="text"], 
.aui #editTaxonFormObj input[type="time"], 
.aui #editTaxonFormObj input[type="url"], 
.aui #editTaxonFormObj input[type="week"], 
.aui #editTaxonFormObj select, 
.aui #editTaxonFormObj textarea, 
.aui #editTaxonFormObj .uneditable-input,

.aui #editTermFormObj input[type="color"], 
.aui #editTermFormObj input[type="date"], 
.aui #editTermFormObj input[type="datetime"], 
.aui #editTermFormObj input[type="datetime-local"], 
.aui #editTermFormObj input[type="email"], 
.aui #editTermFormObj input[type="month"],
.aui #editTermFormObj input[type="number"], 
.aui #editTermFormObj input[type="password"], 
.aui #editTermFormObj input[type="search"], 
.aui #editTermFormObj input[type="tel"], 
.aui #editTermFormObj input[type="text"], 
.aui #editTermFormObj input[type="time"], 
.aui #editTermFormObj input[type="url"], 
.aui #editTermFormObj input[type="week"], 
.aui #editTermFormObj select, 
.aui #editTermFormObj textarea, 
.aui #editTermFormObj .uneditable-input
{
	color: rgb(2, 113, 190);
}


.aui #addTaxonomyModal input[type="text"]:focus,
.aui #addTaxonomyModal textarea:focus,
.aui #addTaxonomyModal select:focus, 

.aui #addTermModal input[type="text"]:focus,
.aui #addTermModal textarea:focus,
.aui #addTermModal select:focus,

.aui #editTaxonFormObj input[type="text"]:focus,
.aui #editTaxonFormObj textarea:focus,
.aui #editTaxonFormObj select:focus,

.aui #editTermFormObj input[type="text"]:focus,
.aui #editTermFormObj textarea:focus,
.aui #editTermFormObj select:focus {
    border-color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #555;
}


#addTaxonomyModal .form-group,
#addTermModal .form-group,
#editTaxonFormObj .form-group,
#editTermFormObj .form-group {
	padding: 3px;
}

.aui #addTaxonomyModal .radio input[type="radio"], 
.aui #addTaxonomyModal .checkbox input[type="checkbox"],
.aui #addTermModal .radio input[type="radio"], 
.aui #addTermModal .checkbox input[type="checkbox"],
.aui #editTaxonFormObj .radio input[type="radio"], 
.aui #editTaxonFormObj .checkbox input[type="checkbox"],
.aui #editTermFormObj .radio input[type="radio"], 
.aui #editTermFormObj .checkbox input[type="checkbox"] {
	float: left;
	margin-left: -68px;
	margin-top: 8px;
}

#addTaxonFormTextBoxextraData {
	margin-left: -34px;
	margin-top: 6px;
}

.aui #addTaxonomyModal input[type="text"],
.aui #addTaxonomyModal textarea,

.aui #addTermModal input[type="text"],
.aui #addTermModal textarea,

.aui #editTaxonFormObj input[type="text"],
.aui #editTaxonFormObj textarea,
.aui #editTermFormObj input[type="text"],
.aui #editTermFormObj textarea {
    width: 50%;
    border-radius: 7px;
}

.aui #addTaxonomyModal select {
	width: 52%;
	border-radius: 7px;
}

.aui #addTaxonomyModal input[type="text"],
.aui #addTermModal input[type="text"],
.aui #editTaxonFormObj input[type="text"],
.aui #editTermFormObj input[type="text"] {
	height: 18px;
}

.aui #addTermModal select,
.aui #addTaxonomyModal select,
.aui #editTaxonFormObj select,
.aui #editTermFormObj select  {
	height: 28px;
}
	
.aui #addTaxonomyModal textarea,
.aui #addTermModal textarea,
.aui #editTaxonFormObj textarea,
.aui #editTermFormObj textarea {
	height: 77px;
}

.scButtons {
	display: inline-block;
	float: right;
	margin-top: 12px;
}

.scButtons .leftHalf {
	float: right;
    margin-left: 21px;
}

.scButtons .rightHalf {
	float: right;
}

#addTaxonomyButton, 
#addTermButton {
	min-width: 160px;
}

#addTaxonFormSaveButton,
#addTermFormSaveButton,
#editTaxonFormSaveButton,
#editTermFormSaveButton,
#editTaxonFormBtnisActive,
#editTermFormBtnisActive {
    background: rgb(2, 113, 190);
    color: white;
    margin-left: 0px;
    /* margin-top: 10px; */
    /* display: inline-block; */
    padding: 10px 12px;
    font-size: 15px;
    cursor: pointer;
    outline: 0;
    border: 1px;
    border-radius: 3px;
    margin-bottom: 3px;
}

#addTaxonFormSaveButton:hover,
#addTermFormSaveButton:hover,
#editTaxonFormSaveButton:hover,
#editTermFormSaveButton:hover,
#editTaxonFormBtnisActive:hover,
#editTermFormBtnisActive:hover,
#editTermFormCancelButton:hover {
    background: rgb(4, 133, 220);
    color: white;
}

.editTaxonFormElement  #editTaxonFormTextBoxextraData {
	margin-left: -37px;
}

#addTaxonFormCancelButton,
#addTermFormCancelButton,
#editTaxonFormCancelButton,
#editTermFormCancelButton {
	color: rgb(2, 113, 190);
    background: white;
    margin-left: 0px;
    /* margin-top: 10px; */
    /* display: inline-block; */
    padding: 10px 12px;
    font-size: 15px;
    cursor: pointer;
    outline: 0;
    border: 1px;
    border-radius: 3px;
    margin-bottom: 3px;
    border: 1px solid aliceblue;
}

#addTaxonFormCancelButton:hover,
#addTermFormCancelButton:hover,
#editTaxonFormCancelButton:hover,
#addTaxonFormSaveButton:hover,
#addTermFormSaveButton:hover,
#editTaxonFormSaveButton:hover, 
#addTaxonomyButton:hover,
#addTermButton:hover {
    background: rgb(4, 133, 220);
    color: white;
}


#addTermFormListBoxclassTaxonomy,
#editTermFormListBoxclassTaxonomy {
	margin-left: -77px;
    width: 50%;
    border-radius: 3px;
}

#addTermFormListBoxclassTerm,
#editTermFormListBoxclassTerm {
	margin-left: -41px;
	width: 50%;
	border-radius: 3px;
}

#addTermFormListBoxparentTaxonomy,
#editTermFormListBoxparentTaxonomy {
	margin-left: -85px;
	width: 50%;
    border-radius: 3px;
}

#addTermFormListBoxparentTerm,
#editTermFormListBoxparentTerm {
	margin-left: -48px;
	width: 50%;
    border-radius: 3px;
}

#addTermFormListBoxtaxonomy,
#editTermFormListBoxtaxonomy {
	margin-left: -32px;
	width: 50%;
    border-radius: 3px;
}

#addTermFormTextBoxconfig,
#editTermFormTextBoxconfig {
	margin-left: -58px;
}

#addTermModal .form-group {
	padding: 3px;
}


#editTaxonFormObj,
#editTermFormObj {
	height: inherit;
    background-color: #d4dfed;
    padding: 21px;
	padding-bottom: 50px;
}


#editTaxonFormObj .form-group.scButtons,
#editTermFormObj .form-group.scButtons {
    margin-top: -28px;
    padding-top: 30px;
    margin-right: -20px;
}


.noVisible {
	visibility: collapse;
}



/* map */
.visualization-large.olMap {
	height: 357px;
	min-width: 357px;
}

.aui .adminContainer .tab-pane{
	overflow-x: hidden;
}

#tagsContainer .bootstrap-tagsinput input{
	border:none;
}