#geoadmin-layers-render-modal {
	width: 70%;
	left: 0;
	right:0;
	margin:0 auto;
	height: 70%;
}

#geoadmin-layers-render-modal .modal-body {
	max-height: 100%;
	height: 90%;
}

#render-map:focus {
	outline: #4A74A8 solid 0.15em;
}

#render-map {
	height: 100%;
	width: 100%;
}