<h2>Software Submission</h2>
<p>This section of the wizard allows the user to review generated deliverables.</p>
<p>After reviewing the data the user can submit the software by pressing the submit button. A Service Archive will be generated using the provided data and subsequently submitted to the gCube platform.</p>