<h1>Software Upload Wizard</h1>
<p>Software Upload Wizard guides the user through the definition of a Software Resource, allowing to upload software packages on the gCube platform software repositories, making the newly created Software Resource available on the infrastructure.</p>
<!-- <p>As the software registered on the gCube platform must adhere to certain constraints, the user will provide software packages and information which will be used in order to create the related Service Resource.</p> -->
<h2>Select the software type</h2>