<h1>License Agreement</h1>
<p>If the software is third-party, please enter the license agreement for the provided software.</p>
<p>If the provided software is gCube software the default gCube license template will be used.</p>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>