<h1>Package Maven Artifact Coordinates</h1>
<h2>Artifact Coordinates</h2>
<p>Please specify in this section the coordinates related to the main artifact for the package. All fields are mandatory.</p>
<ul>
	<li><b>Group Id</b>: the Group Id related to the Maven artifact. Only alphanumerical chars and '-','_','.' symbols are allowed.</li>
	<li><b>Artifact Id</b>: the Artifact Id related to the Maven artifact. Only alphanumerical chars and '-' symbol are allowed.</li>
	<li><b>Artifact Id</b>: the Group Id related to the Maven artifact. A valid Maven version is required (e.g.: 1.0.0 or 1.2.3-SNAPSHOT).</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>
