<h2>Service Profile - Service Data</h2>
<p>This section of the wizard asks for Service Profile related data.<br/>
The information provided will be used for creating the Service Profile for the newly created software resource.</p>
<p>This form concerns Service related data.</p>