<h2>Service Profile - AnySoftware Data</h2>
<p>This section of the wizard asks for Service Profile related data.</p>
<p>Data provided in this card will be used for the generation of the Service and Package entities in the Service Profile.</p>