<h2>Software Maintainers and Changes</h2>
<p>This section of the wizard asks for the package maintainers and changes related to the uploaded version of the software.<br/>
The information provided will be used for creating the MAINTAINERS and the changelog.xml files included in the Service Archive.</p>