<h2>Package Maven Artifact Coordinates</h2>
<p>This section allows the user to specify the Maven coordinates for the artifact related to the package. </p>
<p>Default Maven coordinates are generated automatically by the system.</p>
