<h1>Software Maintainers and Changes</h1>
<h2>Software Maintainers</h2>
<p>In this section the user enters a list of maintainers of the software package specifyng for each maintainer the first and last name, email and organization.</p>
<p>At least one maintainer is required.</p>

<h2>Software Changes</h2>
<p>In this section the user enters a list of software changes which applies to the uploaded version of the software.</p>
<ul>
	<li><b>Component name</b>: System generated component name.</li>
	<li><b>Changes list</b>: List of software modifications. For each software change the user must enter a description and may provide a ticket reference number.</li>
</ul>
<p>At least one software modification is required.</p>

<table>
  <tr>
    <td>*</td>
    <td>At least one entry is required.</td>
  </tr>
</table>