<h2>General Software Information</h2>
<p>This section of the wizard asks the user for general software information.<br/>
The information provided will be used for creating the README file included in the Service Archive.</p>