<h1>Service Profile - Package Data</h1>

<h2>Web Application Package Data</h2>
<p>In this section the user enters data related to the Package section of the Service Profile. All fields are mandatory if not otherwise declared.</p>
<ul>
<li><b>Package name</b>: <i>Name</i> assigned to the <i>Package</i> in the Service Profile. Only alphanumeric chars and '-' symbol are allowed.</li>
<li><b>Package description</b> (optional): <i>Description</i> assigned to the <i>Package</i> in the Service Profile.</li>
<li><b>Package version</b>: <i>Version</i> assigned to the <i>Package</i> in the Service Profile.</li>
<li><b>Servlet container</b>: Application container required to run the application.</li>
<li><b>Application platform</b>: Software-compatible application platform.</li>
<li><b>Entrypoints</b>: List of entrypoints from which the web application will be accessed. The entrypoints must be entered as relative urls starting with a forward slash '/'. At least one entrypoint must be declared.</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
  <tr>
    <td>**</td>
    <td>At least one entry is required.</td>
  </tr>
</table>