<h1>Software Registration Data</h1>
<p>Please provide the Maven coordinates of the artifact you want to register on the gCube infrastructure:</p>
<ul>
	<li><b>Artifact Id</b>: the artifact id associated to the artifact to be registered.</li>
	<li><b>Group Id</b>: the artifact group id.</li>
	<li><b>Artifact Version</b>: the artifact version.</li>
	<li><b>Snapshot</b>: tick the checkbox only if the artifact to be registered is hosted on a maven snapshot repository.</li>
	<li><b>Jar archive filename</b>: If the artifact is hosted on a snapshot repository the filename of the jar primary artifact must be provided.</li>
</ul>
<p>Only jar packaged maven artifacts can be registered using this wizard.</p>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>