<h1>Service Profile Data</h1>

<h2>Third Party</h2>
<p>If the software is from third party please select this checkbox.<br/>Third party software registration is not allowed if you are working on the \"gcube\" scope infrastructure.</p>

<h2>Service Data</h2>
<p>In this section the user enters data related to Service section of the Service Profile. All fields are mandatory if not otherwise declared.</p>
<ul>
	<li><b>Service name</b>: <i>Name</i> assigned to the <i>Service</i> in the Service Profile. Only alphanumeric chars and '-' symbol are allowed.</li>
	<li><b>Service description</b> (optional): <i>Description</i> assigned to the <i>Service</i> in the Service Profile.</li>
	<li><b>Service version</b>: <i>Version</i> assigned to the <i>Service</i> in the Service Profile.</li>
	<li><b>Service class</b>: <i>Class</i> assigned to the <i>Service</i> in the Service Profile. The class may be assigned by the system for certain software types. Only alphabetical chars and '-' symbol are allowed.</li>
</ul>

<h2>Library Package Data</h2>
<p>In this section the user enters data related to the Package section of the Service Profile. All fields are mandatory if not otherwise declared.</p>
<ul>
	<li><b>Package name</b>: <i>Name</i> assigned to the <i>Package</i> in the Service Profile. Only alphanumeric chars and '-' symbol are allowed.</li>
	<li><b>Package description</b> (optional): <i>Description</i> assigned to the <i>Package</i> in the Service Profile.</li>
	<li><b>Package version</b>: <i>Description</i> assigned to the <i>Package</i> in the Service Profile.</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>