div#DecisionSupportSystem div#mainScreen {
	overflow: visible;
}
div#DecisionSupportSystem div.ol-viewport{
	overflow: visible !important;
}
div.ol-overlaycontainer-stopevent div {
 	z-index: 123;
}
div#DecisionSupportSystem div#mainScreen {
	background-color: #eeeeee;
	/* position: relative; */
	width:100%;
	height: 100%;
	overflow: hidden;
	overflow: visible;
}
div#DecisionSupportSystem #map {
	width: 60%;
	height: 100%;
	/* z-index: 10; */
	position : relative;
	margin-left: 3px;
	/* overflow: visible; */
	float: left;
}



div#DecisionSupportSystem #mapContainer {
	height: 680px;
}

@media only screen and (min-width : 1400px){
	
	div#DecisionSupportSystem #navbar-left {
		height: 100%;
	}
	
/* 	div#DecisionSupportSystem #mapContainer {
		height: 100%;
	} */
}
/************************************* map controls ***********************************************/
div#DecisionSupportSystem #map div.ol-zoom.ol-unselectable.ol-control {
	height: initial;
	top: 100px;
}
div#DecisionSupportSystem .ol-zoom .ol-zoom-out.distant {
        margin-top: 204px !important;
}
div#DecisionSupportSystem {

}
div#DecisionSupportSystem div.ol-full-screen.ol-unselectable.ol-control{
	top: 100px;
}
div#DecisionSupportSystem #map div.ol-zoomslider.ol-unselectable.ol-control {
	top: 123px !important;
	background-color: transparent;
}

/* projectname */
#DecisionSupportSystem #projectAndDate{
	background-color:#0271be;
	background:#0271be;
	color: #fff;
	text-align: left;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	padding: 0 0 0 1em;
}
#DecisionSupportSystem #nameOfProject{
	margin:0;
	padding-top:0.5em;
	font-size: 1.2em;
}
#DecisionSupportSystem #dateOfProject{
	padding-bottom:0.5em;
	margin-bottom: 0.5em;
}