/***************************** Desktop ***********************************/
@media (min-width: 768px) and (max-width: 1050px) {
	div#DecisionSupportSystem div#searchBarRadioButtonsContainer {
		width: 100%;
		display: block;
		margin-top: 5px;
	}

	div#DecisionSupportSystem #searchBarCenter{
		padding-bottom:0px !important;
		padding-top:5px !important;
	}
	div#DecisionSupportSystem div#searchbarInputContainer {
		width: 106%;
		display: block;
	}
}
/***************************** layers section ****************************/
/*************************** functions section ***************************/
@media (min-width: 1113px) and (max-width: 1115px) {
	div#DecisionSupportSystem div.exportButtonContainer button.exportButton {
		white-space: nowrap;
	}
}
 @media (min-width: 1350px) and (max-width: 1507px) {
	div#DecisionSupportSystem div#titleAndIcon{
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
div#DecisionSupportSystem #functionsResponsiveSlider { /* Carousel Frame */
    overflow: hidden;
    /* padding: 0px 0px 0px 7%; */
    /* position: relative; */
    height: 300px;
    width: 100%;
    /* margin: 0 0 0 1.5%; */
    position: absolute;
}

div#DecisionSupportSystem ul#functionsResponsiveList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* position: absolute; */
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
div#DecisionSupportSystem ul#functionsResponsiveList li:not(.itemslide-active):hover {
	background: rgb(76, 181,210);
	background-color: rgb(76, 181,210);
}
div#DecisionSupportSystem ul#functionsResponsiveList li.itemslide-active {
	background: rgb(1,154,211);
	background-color: rgb(1,154,211);
	position:relative;
}
#DecisionSupportSystem ul#functionsResponsiveList li.itemslide-active:after,
	#DecisionSupportSystem ul#functionsResponsiveList li.itemslide-active:before {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid rgb(1,154,211);
		bottom: -15px;
		left: 43%;
		position: absolute;
		content: '';
	}
div#DecisionSupportSystem ul#functionsResponsiveList li {
    float: left;
    background: rgb(2,113,190);
    background-color: rgb(2,113,190);
    width: 230px;
    height: 95px;
    display: inline;
    text-align: center;
    margin: 0px 0px 0px 1px;
    cursor: pointer;
}
div#DecisionSupportSystem .functionResponsiveName {
	color: #fff;
	font-size: 18px;
	vertical-align: bottom;
	line-height: 500%;
	height: 100%;
	display:inline-block;
}
div#DecisionSupportSystem .sliderButtons {
	width: 1.5em;
	height: 95px;
	color: #fff;
	position: absolute;
	/* top: 5%; */
	background: rgb(2,113,190);
	background-color: rgb(2,113,190);
	cursor: pointer;
	text-align: center;
	line-height: 700%;
	/* 	display: none; */
}
div#DecisionSupportSystem .sliderButtons.disabledSliderButtons {
	background:#777;
	background-color:#777;
	opacity: 0.5;
	cursor: default;
}
div#DecisionSupportSystem .sliderButtons:not(.endOfAvailableSlides):not(.disabledSliderButtons):hover {	
    background: rgb(76, 181,210);
    background-color: rgb(76, 181,210);
}
div#DecisionSupportSystem #sliderRightButton {
	right: 0;
}
div#DecisionSupportSystem #sliderLeftButton {
	left: 0;
}
/*************************** searchbar section ***************************/
@media (min-width: 1350px) and (max-width: 1582px) {
	div#DecisionSupportSystem div#searchBarCenter {
		position: relative;
	}
	div#DecisionSupportSystem div#searchBarRadioButtonsContainer {
		width: 100%;
		display: block;
		margin-top: 5px;
	}

	div#DecisionSupportSystem #searchBarCenter{
		padding-bottom:0px !important;
		padding-top:5px !important;
	}
	div#DecisionSupportSystem div#searchbarInputContainer {
		width: 106%;
		display: block;
	}
	canvas{
		height: 87.8% !important;
	}
	div#DecisionSupportSystem #mapContainer {
		height:820px;
	}
	div#DecisionSupportSystem #map {
		width: 60%;
		position: relative;
		margin-left: 7px;
		float: left;
	}
	div#DecisionSupportSystem div#searchBarRadioButtonsContainer {
		width: 100%;
		display: block;
		margin-top: 10px;
	}
	div#DecisionSupportSystem div#searchbarInputContainer {
		width: 106%;
		display: block;
	}
	div#DecisionSupportSystem div#availableLayersContainer {
		padding-top: 0px;
		padding-bottom: 10px;
	}
	div#DecisionSupportSystem div#availableLayersIcon {
		width: 100%;
		margin-left: 35%;
	}
	div#DecisionSupportSystem .functionsAccordionTitle{
		height: 15px;
		padding-top: 35px;
		text-align: center;
	}
}
/***************************** Tablet ************************************/
@media (min-width: 1349px) {
	div#DecisionSupportSystem .hidden-desktop-large {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 1349px) {
	/* hide some stuff */
	div#DecisionSupportSystem div#collapsibleMenuLeft,
	div#DecisionSupportSystem div#collapsibleMenuRight {
		display:none !important;
	}
	/***************** map *****************/
	div#DecisionSupportSystem #map {
		width: 100%;
		height: 100%;
		position : relative;
		margin: 0px;
	}
	/********** toolbar responsive *********/
	#DecisionSupportSystem #toolbarNotVisibleInDesktops.hiddenPane {
		height: 100px;
	}
	#DecisionSupportSystem #toolbarMenuNotVisibleInDesktops {
		height: 95px;
	}
	#DecisionSupportSystem .toolbarMenuNotVisibleInDesktopsBtns {
		background: rgb(2,113,190);
		background-color: rgb(2,113,190);
		height: 100%;
	}
	#DecisionSupportSystem .toolbarMenuNotVisibleInDesktopsBtns:not(#settingsResponsive) {
		display: inline-block !important;
		width: 82%;
		position: relative;
	}
	#DecisionSupportSystem #settingsResponsive {
		width: 17%;
		display: inline-block !important;
		color: #fff;
		float: right;
	}
	#DecisionSupportSystem #settingsResponsive > div {
		margin-top: 25px;
	}
	#DecisionSupportSystem #layersIconPlaceHolder {
		background-image: url("../../img/layers.png");
		background-size: 29px 30px;
		background-repeat: no-repeat;
		margin-left: 15px;
		width: 29px;
	}
	#DecisionSupportSystem #layersResponsive > div {
		margin-top: 25px;
		color: #fff;
		/* white-space: nowrap; */
		/* overflow: visible; */
		/* text-overflow: ellipsis; */
	}
	#DecisionSupportSystem #layersButton{
		margin-left: 20px;
	}
	#DecisionSupportSystem #functionResponsiveSubHeader{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#DecisionSupportSystem #layersButtonCaret {
		margin-left: 10px;
	}
	#DecisionSupportSystem #functionsButtonCaret {
		/* padding-top: 5px; */
	}
	#DecisionSupportSystem i.fa-caret-down{
		font-size: 20px;
	}
	#DecisionSupportSystem #functionsResponsive > div {
		margin-top: 25px;
	}
	#DecisionSupportSystem #functionsResponsive > div:last-of-type {
		/* margin-top: -10px; */
	}
	#DecisionSupportSystem #functionsResponsive {
		color: #fff;
	}
	#DecisionSupportSystem div#gearContainerResponsive {
		display: inline-block;
		background-image: url("../../img/Settings-gear.png");
		background-size: 17px 17px;
		background-repeat: no-repeat;
	}
	#DecisionSupportSystem #layersResponsive:not(.triangleAdded):hover,
	#DecisionSupportSystem #functionsResponsive:not(.triangleAdded):hover,
	#DecisionSupportSystem #settingsResponsive:not(.triangleAdded):hover {
		
		background: rgb(76, 181,210);
    	background-color: rgb(76, 181,210);
	}
	
	#DecisionSupportSystem div#toolbarPaneNotVisibleInDesktops {
		height: 240px;
		background: #fff;
		background-color: #fff;
	}
	#DecisionSupportSystem div#selectedLayersResponsivePane,
	#DecisionSupportSystem div#layersSelectorResponsivePane {
		height: 100%;
		background: #fff;
		background-color: #fff;
	}
}

	#DecisionSupportSystem .triangleAdded {
		background: rgb(1,154,211);
		background-color: rgb(1,154,211);
		position: relative !important;
	}

	#DecisionSupportSystem #layersResponsive.triangleAdded:after,
	#DecisionSupportSystem #layersResponsive.triangleAdded:before {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid rgb(1,154,211);
		bottom: -15px;
		left: 50%;
		position: absolute;
		content: '';
	}
	#DecisionSupportSystem #functionsResponsive.triangleAdded:after,
	#DecisionSupportSystem #functionsResponsive.triangleAdded:before {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid rgb(1,154,211);
		bottom: -15px;
		left: 50%;
		position: absolute;
		content: '';
	}
@media (min-width:816px) and (max-width:995px){
	#DecisionSupportSystem #functionsButtonCaret {
		width: 92px;

	}
}
@media (min-width:996px) and (max-width:1046px){
	#DecisionSupportSystem #functionsButtonCaret {
		margin: 0px;
		width: 114px;
	}
}
@media (min-width: 1080px) and (max-width: 1251px){
	#DecisionSupportSystem #layersButtonCaret {
		white-space: nowrap;
	}
}
@media (min-width: 1023px) and (max-width: 1079px){
	#DecisionSupportSystem #layersButtonCaret {
		white-space: normal;
		width: 80px;
	}
}
@media (min-width: 957px) and (max-width: 979px){
	#DecisionSupportSystem #layersButtonCaret {
		width: 80px;
	}
}
/************************ toolbar hover ******************************/
#DecisionSupportSystem #layersResponsive #layersButton:hover,
#DecisionSupportSystem #layersResponsive #layersButtonCaret:hover {
/* 	background: rgb(1,154,211);
    background-color: rgb(1,154,211);
    cursor: pointer; */
}
#DecisionSupportSystem #layersResponsive.triangleAdded #layersButton:hover,
#DecisionSupportSystem #layersResponsive.triangleAdded #layersButtonCaret:hover {
	/* background: rgb(76, 181,210); */
	/* background-color: rgb(76, 181,210); */
	/* cursor: pointer; */
}
#DecisionSupportSystem #layersResponsive.triangleAdded #layersButton.respTabClicked,
#DecisionSupportSystem #layersResponsive.triangleAdded #layersButtonCaret.respTabClicked {
	background: rgb(2,113,190);
    background-color: rgb(2,113,190);
    cursor: pointer;
}
#DecisionSupportSystem #functionsResponsive #functionResponsiveSection:hover,
#DecisionSupportSystem #functionsResponsive #functionsButtonCaret:hover {
	background: rgb(1,154,211);
    background-color: rgb(1,154,211);
    cursor: pointer;
}
#DecisionSupportSystem #functionsResponsive.triangleAdded #functionResponsiveSection:hover,
#DecisionSupportSystem #functionsResponsive.triangleAdded #functionsButtonCaret:hover {
	background: rgb(76, 181,210);
    background-color: rgb(76, 181,210);
    cursor: pointer;
}
#DecisionSupportSystem #functionsResponsive.triangleAdded #functionResponsiveSection.respTabClicked,
#DecisionSupportSystem #functionsResponsive.triangleAdded #functionsButtonCaret.respTabClicked {
	background: rgb(2,113,190);
    background-color: rgb(2,113,190);
    cursor: pointer;
}
#auxRespDiv {
	margin-top: 120px;
}
#DecisionSupportSystem #auxRespDiv .functionsAccordionTitle{
background:#fff;
background-color:#fff;
color:#0271be;
padding:0;
cursor:default;
}
#DecisionSupportSystem #auxRespDiv .levelOfDetailHeadingContainer{
	padding: 0px;
	color:#0271be;
}
#DecisionSupportSystem #auxRespDiv .levelOfDetailSliderElement{
	padding-left:0 !important;
}
#DecisionSupportSystem #auxRespDiv .chooseSomeAttributeTitleAndSubtextContainer{
	padding:0;
}
#DecisionSupportSystem #auxRespDiv .formFunction{
	height: 120px;
	overflow-y:scroll;
}
#DecisionSupportSystem  #auxRespDiv .levelOfDetailSliderElement {
	width:44%;
}
#DecisionSupportSystem #auxRespDiv .runFunctionButton{
	width: 20%;
}
#DecisionSupportSystem #auxRespDiv .exportButton{
	width: 20%;
}
#DecisionSupportSystem #auxRespDiv .functionsAccordionContentPanel {
	padding-top:0
}