<div class="templateDescriptorPanel-description">
	A set of vectors for testing a Machine Learning model that simulates a real valued function. The tvalue column indicates the expected value for each vector. 
 </div>

<div class="templateDescriptorPanel-tableTemplateItem">Table
	Template</div>
<table class='templateDescriptorPanel-table'>
	<colgroup>
		<col class='templateDescriptorPanel-table-oce-first'>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Field Name</th>
			<th scope="col">Format</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&lt;field 1&gt;</td>
			<td>real</td>
		</tr>
		<tr>
			<td>&lt;field 2&gt;</td>
			<td>real</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
		</tr>
		<tr>
			<td>&lt;field n&gt;</td>
			<td>real</td>
		</tr>
		<tr>
			<td>tvalue</td>
			<td>real</td>
		</tr>
	</tbody>
</table>
