<div class="{style.progressWrapGreen}" style="{wrapStyles}">
  <div class="{style.progressInnerGreen}">
    <div class="{style.progressBarGreen}" style="{progressBarStyles}">
      <div class="{style.progressTextGreen}" style="{progressTextStyles}">
        <div style="{widthStyles}">{text}</div>
      </div>
      <div class="{style.progressTextGreen} {style.progressTextBackGreen}">
        <div style="{widthStyles}">{text}</div>
      </div>
    </div>
  </div>
</div>
