<h1>Service Profile - Main Package Data</h1>
<h2>Main Package Data</h2>
<p>In this section the user enters data related to the Package section of the Service Profile. All fields are mandatory if not otherwise declared.</p>
<ul>
<li><b>Package name</b>: <i>Name</i> assigned to the <i>Package</i> in the Service Profile. Only alphanumeric chars and '-' symbol are allowed.</li>
<li><b>Package description</b> (optional): <i>Description</i> assigned to the <i>Package</i> in the Service Profile.</li>
<li><b>Package version</b>: <i>Version</i> assigned to the <i>Package</i> in the Service Profile.</li>
<li><b>PortTypes</b>: Edit Port Types for the service. At least one Port Type is required.</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
  <tr>
    <td>**</td>
    <td>At least one entry is required.</td>
  </tr>
</table>