<h1>Maven Dependencies</h1>

<h2>Dependency Form</h2>
<p>Please add dependencies one by one by specifying each artifact coordinates.</p>
<ul>
	<li><b>Artifact Group Id</b>: Group Id of the dependency artifact.</li>
	<li><b>Artifact Id</b>: Artifact Id of the dependency artifact.</li>
	<li><b>Artifact Version</b>: Version of the dependency artifact.</li>
</ul>

<h2>Declared dependencies table</h2>
<p>Saved Maven dependencies are summarized in this table. Is it possible to remove unwanted dependencies by selecting them and then pressing the remove button.</p>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>
