<h1>Service Profile Data</h1>

<h2>Software Data</h2>
<p>Please provide the required information regarding the software package to be registered:</p>
<ul>
	<li><b>Name</b>: A name associated to the software to be registered. The provided value will be used for both the generated service and package.</li>
	<li><b>Description</b>: A short description of the software. The provided value will be used for both the generated service and package.</li>
	<li><b>Version</b>: The software version. The provided version number will be assigned to the newly generated package. A version number of '1.0.0' will be assigned to the service.</li>
	<li><b>Service Class</b>: The service class that will be assigned to the generated service in the service profile.</li>
</ul>
<h2>Target Service</h2>
<p>Please provide required information regarding the plugin targeted service and package:</p>
<ul>
	<li><b>Service Class</b>: The service class associated to the target service.</li>
	<li><b>Service Name</b>: The name associated to the target service.</li>
	<li><b>Service Version</b>: The version associated to the target service.</li>
	<li><b>Package Name</b>: The package name associated to the target service package.</li>
	<li><b>Package Version</b>: The package version associated to the target service package. Can include "-SNAPSHOT" suffix.</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>