<h2>Upload package files</h2>
<p>Please upload mandatory and optional files for the package.<br/>
Files uploaded with this form will be included in the Service Archive and declared on the Service Profile.<p/>