<h2>Service Profile Data</h2>
<p>This section of the wizard asks for Service Profile related data.<br/>
Values provided in this form will be used for the generation of the Service and Package entities of the service profile.</p>