<h1>Service Profile - Service Data</h1>
<h2>Service Data</h2>
<p>Please enter Service related data by filling the following fields. All fields are mandatory if not otherwise declared.</p>
<ul>
<li><b>Service name</b>: <i>Name</i> assigned to the <i>Service</i> in the Service Profile. Only alphanumeric chars and '-' symbol are allowed.</li>
<li><b>Service description</b> (optional): <i>Description</i> assigned to the <i>Service</i> in the Service Profile.</li>
<li><b>Service version</b>: <i>Version</i> assigned to the <i>Service</i> in the Service Profile.</li>
<li><b>Service class</b>: <i>Class</i> assigned to the <i>Service</i> in the Service Profile. The class may be assigned by the system for certain software types. Only alphabetical chars and '-' symbol are allowed.</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>