<h1>General Software Information</h1>
<p>All fields are mandatory if not otherwise said.</p>
<ul>
	<li><b>Software name</b>: Software descriptive name</li>
	<li><b>Software description</b> (optional): Long software description</li>
	<li><b>Software version</b>: Software version</li>
	<li><b>Software release date</b>: Uploaded software release date (defaults to today's date)</li>
	<li><b>Software URLs</b> (optional): URLs that points to software deliverables. For any given URL the user must select a descriptive tag from the combobox.</li>
</ul>

<table>
  <tr>
    <td>*</td>
    <td>Mandatory field.</td>
  </tr>
</table>