/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}



.imageButton{
	height : 45px;
	width : 45px;
}

.imageIcon{
	height : 40px;
	width : 40px;
}

.dialogIcon{
	height : 30px;
	width : 30px;
}

.imageNavigator{
	height : 75px;
	width : 75px;
	text-weight : bold;
}

.pinnedResourceImage{
	height : 75px;
	width : 75px;
}

.pinnedCloseButton{
	height : 10px;
	width : 10px;
}

.navigatorHeader{
	background: #cbd4e7 url(images/hborder.png) repeat-x 0px -2003px;
  	border: 1px solid #e0e0e0;
	font-weight: bold;	
	font-size: 1.4em;
	text-align: center;
}

.add-scrollbar {
		    display: block;
		    overflow: auto;
		}

/** DIALOG from showcase**/

.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}

.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -2945px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -2144px;
}

.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y -31px 0px;
}

.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -32px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -32px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
  background: url(images/circles.png) no-repeat -20px 0px;
  -background: url(images/circles_ie6.png) no-repeat -20px 0px;
}

.gwt-DialogBox .dialogTopRight {
  background: url(images/circles.png) no-repeat -28px 0px;
  -background: url(images/circles_ie6.png) no-repeat -28px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
  background: url(images/circles.png) no-repeat 0px -36px;
  -background: url(images/circles_ie6.png) no-repeat 0px -36px;
}

.gwt-DialogBox .dialogBottomRight {
  background: url(images/circles.png) no-repeat -8px -36px;
  -background: url(images/circles_ie6.png) no-repeat -8px -36px;
}

html>body .gwt-DialogBox {
}

* html .gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* ****** DOCK FROM SHOWCASE*/

.cw-DockPanel{
  border: 1px solid #BBBBBB;
  background-color : #edf0f7;
  padding: 3px;
}

/************** XML CONTENT */

xmlcontent td{
    padding: 3px;
}

xmlcontent tr:nth-child(even) {background-color: #f2f2f2}
