/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.baloonPanel {
	padding: 5px;
	/* 	border: solid; */ /* 	border-width: 1px; */
	border-color: rgb(200, 210, 240);
	/* 	border-radius: 15px; */
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #4B79B4;
	color: #D2D2D2;
	/* 	font-family: verdana, arial; */
	font-size: 12px;
	margin-left: 2px;
	opacity: 0.8;
	font-family: sans-serif, arial;
	font-weight: bold;
}

.baloonPanel :HOVER {
	cursor: pointer;
	color: #FFF;
}

.margin10 {
	margin: 10px;
}

.marginTop10 {
	margin-top: 10px;
}

.inputWmsDialog {
	margin-top: 10px;
	width: 100%;
}

.noBorder {
	border: none !important;
}