#DecisionSupportSystem .jstree-icon.jstree-checkbox:empty,
 #pickProjectContainer .jstree-icon.jstree-checkbox:empty {
 	background-image:none;
	content: '';
	margin-right: 0.3em;
  	left:0;
	top: 2px;
  	width: 17px;
  	height: 17px;
  	border: 1px solid #aaa;
  	background: #f8f8f8;
  	border-radius: 3px;
  	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  	background-color: #f8f8f8;
}
#DecisionSupportSystem .jstree-hovered .jstree-icon.jstree-checkbox,
 #pickProjectContainer .jstree-hovered .jstree-icon.jstree-checkbox {
	border: 1px solid #4778d9!important;
}
#DecisionSupportSystem .jstree-clicked .jstree-icon.jstree-checkbox:after,
 #pickProjectContainer .jstree-clicked .jstree-icon.jstree-checkbox:after {
	content: '\f00c';
	font-family: Fontawesome;
	position: absolute;
	top: .2em;
	left: -.14em;
	font-size: 18px;
	line-height: .7em;
	color: #0271be;
	transition: all .2s;
}