.aui .techno-economic-analysis-portlet #tea-noty-container{
	margin-left: auto; 
	margin-right: auto; 
	height: 70px;
	width:40%;
	bottom: 4px;
    position: relative;
}

.aui .techno-economic-analysis-portlet .noty_theme__relax.noty_type__warning {
	background-color: #fff9e6;
    border: 1px solid #ffdf95;
}

.aui .techno-economic-analysis-portlet #tea-noty-container.success,
.aui .techno-economic-analysis-portlet #tea-noty-container.error,
.aui .techno-economic-analysis-portlet #tea-noty-container.warning{
}

.techno-economic-analysis-portlet #tea-noty-container ul li {
	box-shadow: none !important;
	border: 0 !important;
}

.aui .techno-economic-analysis-portlet .noty_body {
	font-size: 14px;
	text-align: center;
}

.noty_message {
	padding: 5px;
}

.aui .techno-economic-analysis-portlet #tea-noty-container>ul>li {
	max-height: 56px;
}

.aui .techno-economic-analysis-portlet #tea-noty-container .noty_close_button {
	display: none;
}