fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
}

.ie fieldset {
	padding-top: 0;
}

.aui-fieldset {
	border-width: 0;
	padding: 0;
	position: relative;
}

.configuration-popup .aui-fieldset {
	margin-bottom: 0;
}

.aui-fieldset .aui-field-content, .aui-field-row, .aui-button-holder, .aui-field-wrapper-content {
	margin: 10px 0;
}

.aui-field-inline .aui-field-content, .aui-field-row .aui-field-content {
	margin: 0;
	margin-right: 5px;
}

.aui-search-bar .aui-field-content {
	margin-right: 0;
}

.aui-search-bar .aui-field-content, .aui-search-bar .aui-button-content {
	display: inline-block;
	vertical-align: middle;
}

.aui-field-choice .aui-field-label {
	display: inline-block;
}

.aui-field-date .aui-field-content {
	overflow: hidden;
}

legend {
	font-weight: bold;
	padding: 0 6px;
}

.aui-fieldset-legend {
	color: #000;
	font-size: 120%;
	font-weight: bold;
	padding: 0 0 1.5em;
}

.aui-legend {
	border-bottom: 1px solid #CCC;
	display: block;
	position: absolute;
	width: 90%;
}

input {
	background: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
}

select {
	padding: 1px;
}

input[type="image"] {
	background: transparent none;
	border: none;
	padding: 0;
}

input[type="submit"], input[type="button"], input[type="reset"], button {
	background: #F5F5F5 url(../images/forms/button.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	overflow: visible;
	padding: 5px;
	width: auto;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:hover, button:focus {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	color: #369;
}

input[type="submit"], input[type="button"], input[type="reset"], button, .lfr-actions, .lfr-actions ul {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	color: #34404F;
	font-weight: bold;
	text-shadow: 1px 1px #FFF;
}

.aui-button-disabled input[type], .aui-button-disabled button, .aui-button-disabled input[type]:hover, .aui-button-disabled input[type]:focus, .aui-button-disabled button:hover, .aui-button-disabled button:focus {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	color: #555;
	opacity: 0.5;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, .lfr-actions:hover, .lfr-actions:hover ul {
	background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
	color: #369;
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:focus, .lfr-actions:focus, .lfr-actions:focus ul {
	background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
	border: 1px solid #F00;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button, .ie6 button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
}

.ie6 input.submit, .ie6 input.button, .ie6 button, .ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}

input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus {
	background: #FFC none;
	border: 1px solid #FC0;
}

.ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
	color: #555;
}

.ie .aui-button-disabled input {
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
}