.framed {
	display: inline-block;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	width: 200px;
	height: 290px;
	padding: 10px;
	margin: 10px;
	background: #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #DBDBDB;
}

.photo-details {
	width: 200px;
	text-align: center;
}

/* For phones*/
@media screen and (max-width: 520px) {
	.framed {
		width: 87%;
	}
	.photo-details {
		width: 100%;
	}
}

.frame {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	padding: 10px;
	margin: 10px;
	background: #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #DBDBDB;
}

img.user-photo {
	padding: 5px;
	border: 1px solid #E6E6E6;
	width: 180px;
	height: 175px;
}

.user-details {
	padding: 5px;
	float: left;
}



a.person-link {
	color: #444444;
	font-size: 15px !important;
	font-weight: bold !important;
	line-height: 18px;
}

a.person-link, a.person-link:visited {
	cursor: pointer;
	cursor: hand;
	font-size: 16px !important;
	text-decoration: none;
	color: #3B5998 !important;
}

a.person-link:hover {
	opacity: 0.8;
	font-size: 16x !important;
	text-decoration: underline;
}

.headline {
	font-size: 13px;
	color: #444444;
	line-height: 16px;
}

.institution {
	font-size: 11px;
	color: #444444;
}