.adminContainer div#wfsImporter button {
    background: rgb(2, 113, 190);
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    display: inline-block;
    padding: 20px 20px;
    font-size: 15px;
    cursor: pointer;
    outline: 0;
	border: 1px;
    border-radius: 3px;
}

.adminContainer div#wfsImporter button:hover {
    background: rgb(4, 133, 220);
    color: white;
}



.adminContainer .boldLetters {
	color: #0271be;
    font-weight: 600;
}

.aui .modal.fade.in {
	top: 10%;
}

/* .aui .hide { */
/* 	display: block !important; */
/* } */

.aui .hide.fade.in {
	display: block !important;
}

.aui .table th, 
.aui .table td {
	border-top: none !important;	
	background-color: white;
}

 .aui .wfsLayout input[type="text"] {
	width: 80%;
	border-radius: 7px;
	height: 28px;
}

.aui .wfsLayout input[type="text"]:focus {
	border-color: #555;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #555;
}

.adminContainer div.header-top.row {
	margin: -51px 0px auto -1px;
}

.adminContainer {
	margin-top: 30px;
}


.loader {
	z-index: 1000;
	margin: 300px auto;
	padding: 10px;
	width: 130px;
	border-radius: 10px;
	filter: alpha(opacity=100);
	opacity: 1;
}

.loader img {
	height: 128px;
	width: 128px;
}

.loadContainer {
	display: none;
    position: fixed;
    z-index: 1058;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    filter: alpha(opacity=60);
    opacity: 0.8;
}

.getLayers {
	background: #0271be;
    color: white !important;
	margin-top: 10px !important;
    padding: 10px 10px !important;
    font-size: 15px !important;
    cursor: pointer !important;
    margin-bottom: 9px !important;
    margin-right: 7px !important;
    border-radius: 8px !important;
    outline: 0 !important;
	float: right;
}

.clearAll {
	background: #0271be;
    color: white !important;
	margin-top: 10px !important;
    padding: 10px 10px !important;
    font-size: 11px !important;
    cursor: pointer !important;
    margin-bottom: 9px !important;
    margin-right: 7px !important;
    border-radius: 23px !important;
    outline: 0 !important;
    float: right;
}

.labelOutputFormat {
    max-width: 127px;
}

#outputFormat:focus {
	border-color: 1px solid #cccccc;
    box-shadow: none;
}

.clearAll:hover {
	background-color: rgb(4, 133, 220);
}

.getLayers.idleMe {
	opacity: 0.42;
}

.aui #wfsImporter input[type="color"], 
.aui #wfsImporter input[type="date"], 
.aui #wfsImporter input[type="datetime"], 
.aui #wfsImporter input[type="datetime-local"], 
.aui #wfsImporter input[type="email"], 
.aui #wfsImporter input[type="month"],
.aui #wfsImporter input[type="number"], 
.aui #wfsImporter input[type="password"], 
.aui #wfsImporter input[type="search"], 
.aui #wfsImporter input[type="tel"], 
.aui #wfsImporter input[type="text"], 
.aui #wfsImporter input[type="time"], 
.aui #wfsImporter input[type="url"], 
.aui #wfsImporter input[type="week"], 
.aui #wfsImporter select, 
.aui #wfsImporter textarea, 
.aui #wfsImporter .uneditable-input {
	color: rgb(2, 113, 190);
}

.saveChecked {
	background: #0271be;
	color: white !important;
	margin-top: 10px !important;
	padding: 10px 10px !important;
	font-size: 15px !important;
	cursor: pointer !important;
	margin-bottom: 9px !important;
	margin-right: 7px !important;
	border-radius: 8px !important;
	outline: 0 !important;
}

.saveChecked:hover {
	background-color: rgb(4, 133, 220);
}

.aui .featureTypeList li {
	line-height: 37px;
}

.aui .featureTypeList {
	list-style: none;
}

.getLayers:hover {
	background-color: rgb(4, 133, 220);
}

.wfsLayout label {
	color: #555;
    font-weight: bold;
}

.adminContainer div.headerOfModal {
	background-color: #0271be;
    height: 40px;
    margin-bottom: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: 49px;
}

.tableActions td {
	float: right;
}

.adminContainer .headerOfModal .titleOfModal {
	margin: 9px 0;
	font-size: 21px;
	color: white;
	font-weight: normal;
	margin-left: 12px;
	line-height: 52px;
}

.adminContainer #headerTitleCon .headerTitle h1 {
	margin: 53px 0;
    font-size: 15px;
    color: white;
    font-weight: normal;
    margin-left: 12px;
    line-height: 33px;
}


@media (min-width: 281px) {
	.container-fluid.adminContainer .row {
		margin: auto 5px auto 5px;
	}
}

.adminContainer #headerTitleCon {
	background-color: #0271be;
	padding: 0px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.aui .container-fluid {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.adminContainer #headerTitleCon h1.headerTitle {
margin: 44px 0;
    font-size: 14px;
    color: white;
    font-weight: normal;
    margin-left: 12px;
}


.adminContainer .tabs-left > .nav-tabs {
    margin-left: 15px;
    margin-top: -15px;
}

.adminContainer .tabs-left>.nav-tabs>li>a {
	border-radius: 9px 0 0 7px;
}

.adminContainer .tabs-left > .nav-tabs .active > a {
	border-color: #4cb5d2 transparent #4cb5d2 #4cb5d2;
    color: #4cb5d2;
    width: 103px;
}

.adminContainer .tabs-left > .nav-tabs .active > a:hover, 
.adminContainer .tabs-left > .nav-tabs .active > a:focus {
	background-color: white;
	color: #4cb5d2;
}


.aui .tabs-left>.nav-tabs .active>a, 
.aui .tabs-left>.nav-tabs .active>a:hover, 
.aui .tabs-left>.nav-tabs .active>a:focus {
	border-color: #4cb5d2 transparent #4cb5d2 #4cb5d2 !important;
	width: 146px !important;
}


.adminContainer .tabs-left>.nav-tabs {
    border-right: 1px solid #4cb5d2;
}

.adminContainer .tabs-left>.nav-tabs>li>a:hover, 
.adminContainer .tabs-left>.nav-tabs>li>a:focus {
	border-color: none;
	color: white;
}

.adminContainer .nav>li>a:hover, 
.adminConatiner .nav>li>a:focus {
	background-color: #4cb5d2;
}

.adminContainer li a {
	color: #0271be;
}

