#breadcrumb {
	margin: 3px;
	margin-left: 20px;
	width: 970px;
	float: left;
	border: 1px solid #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#breadcrumb ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#breadcrumb li {
	color: #333;
	float: left;
	height: 2em;
	line-height: 2em;
	width: 240px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("images/breadcrumbs.png");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: block;
	text-decoration: none;
	text-align: center;
}

#breadcrumb li.final {
	background-image: none;
}

#breadcrumb li.selected {
	color: #336699;
	font-weight: bold;
}

#breadcrumb li span {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.spinner {
	background: url(images/loaders/spinning.gif) no-repeat;
}

.thumb-generic {
	background-image: url(images/thumbnails/gCube-generic.png);
}

.thumb-imarine {
	background-image: url(images/thumbnails/gCube-iMarine.png);
}

.thumb-classic {
	background-image: url(images/thumbnails/liferay-classic.png);
}

.error-report {
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 1.2em;
	color: #333;
	padding: 0.5em;
	background-color: pink;
	border: 1px solid red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: auto;
}

.error-report.ok {
	color: #333;
	padding: 0.5em;
	background-color: #D4F2D0;
	border: 1px solid green;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: auto;
}

.gwt-RadioButton label, .gwt-CheckBox label {
	padding-left: 5px;
}

.wizardTitle {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	color: #4c68a6;
	padding-bottom: 10px;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	border-bottom-color: #DADADA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.wizardPanel {
	padding: 20px;
}

.wizardH2 {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	color: #4c68a6;
	padding-bottom: 10px;
	padding-top: 5px;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	border-bottom-color: #DADADA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.wizardText {
	color: black;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 12px;
	padding: 10px;
}

.wizardLabel {
	color: #222;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 13px;
	padding: 10px;
}

.wizardGridLabel {
	color: #666;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	border-bottom-color: #DADADA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.wizardGrid {
	padding: 20px;
}

.wizardComment {
	color: #666;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 12px;
	font-style: italic;
}

.padding-left {
	padding-left: 20px;
}

.padding-top {
	padding-top: 20px;
}

.wizardTextBox {
	background-color: white;
	border-color: #999;
	border-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	letter-spacing: normal;
	line-height: 15px;
	height: 23px !important;
	width: 295px;
	font-size: 14px;
}

.wizardTextBox.password {
	width: 150px;
	font-size: 14px;
}

.wizardTextBox[readonly] {
	color: #AAA;
	border-color: #AAA;
}