<div class="{style.progressWrapRed}" style="{wrapStyles}">
  <div class="{style.progressInnerRed}">
    <div class="{style.progressBarRed}" style="{progressBarStyles}">
      <div class="{style.progressTextRed}" style="{progressTextStyles}">
        <div style="{widthStyles}">{text}</div>
      </div>
      <div class="{style.progressTextRed} {style.progressTextBackRed}">
        <div style="{widthStyles}">{text}</div>
      </div>
    </div>
  </div>
</div>
