<li class="user-notification [$CSS_CLASS$]">
	[$ACTION_DIV$]
		<div  class="left-container">
			<div class="sender">
				<span class="user-thumbnail">
					<img alt="[$USER_FULL_NAME$]" src="[$USER_PORTRAIT_URL$]" />
				</span>
			</div>

			<div class="content">
				<div class="body-container">
					[$BODY$]
				</div>

				<div class="timestamp">
					<span title="[$TIMETITLE$]">
						[$TIMESTAMP$]
					</span>
				</div>
			</div>
		</div>
		[$MARK_AS_READ_ICON$]
	</div>
</li>