@import url('searchportlet/old-dialog.css');

 .gwt-HTML {
         padding: 5px;
 }

 .gwt-RadioButton label {
         padding: 2px 5px;
 }

 .gwt-Button {
         margin: 10px 5px !important;
 }

 .gwt-DecoratedTabBar {
         margin-top: 10px;
 }
 
 .gwt-TextBox {
	 margin: 10px 5px !important;
}

.all-white {
background-color: white;
}

.hand {
	cursor: pointer;
}

.filter-button {
	background-color: white;
	border: 0px;
	padding: 0px;
	width: 32px;
	height: 32px;
	background: url(images/filter_cols.png) no-repeat;
	cursor: pointer;
}

.info-button {
	background-color: white;
	border: 0px;
	padding: 0px;
	width: 15px;
	height: 15px;
	background: url(images/info.gif) no-repeat;
	cursor: pointer;
}

.popup-button {
	font-size:smaller;
	background-color: inherit;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	color: green;
	text-aling: right;
}

.desc-popups-Popup {
	border-bottom-width: medium;
	border-right-width: medium;
	border-left-width: thin;
	border-top-width: thin;
	border-bottom-style: groove;
	border-right-style: groove;
	border-left-style: solid;
	border-top-style: solid;
	background-repeat:repeat-x;
	background-color:#f4fcf2;
	font-size: 14px;
	padding: 6px;
}
