/* Tablet view */
@media (min-width: 768px) and (max-width: 979px) {
	#pickProjectContainer #ProjectSelectionTable_filter {
	    margin-right: 1.6em !important;
	}
	#pickProjectContainer #ProjectSelectionTable_filter input{
	    margin:0 -10px 0 -40px !important;
	}
}
/* Phone view */
@media (min-width: 768px) and (max-width: 979px) {
	#pickProjectContainer #ProjectSelectionTable_filter {
	    margin-right: 1.6em !important;
	}
	#pickProjectContainer #ProjectSelectionTable_filter input{
	    margin:0 -10px 0 -40px !important;
	}
}
@media (max-width: 767px) {
	#pickProjectContainer div#toolbar,
	#pickProjectContainer .usersToProjectToolbarContainer {
		margin-bottom: 4em;
	}
	#pickProjectContainer #ProjectSelectionTable_filter {
	    width: 96%;
	    top:4em !important;
	    margin-right: 2%;
	}
	#pickProjectContainer #ProjectSelectionTable_filter input{
	    margin:0 -10px 0 -40px !important;
	}
}
@media (max-width: 640px) {
	#pickProjectContainer #ProjectSelectionTable_filter {
		margin-right: -1% !important;
	}
}