<div class="templateDescriptorPanel-description">
Half-degree Cells Authority File - A set of environmental characteristics associated to Half-Degree cells over the world.
</div>
<div class="templateDescriptorPanel-tableTemplateItem">
	Table Template
</div>
<table class='templateDescriptorPanel-table'>
	<colgroup>
		<col class='templateDescriptorPanel-table-oce-first'>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Field Name</th>
			<th scope="col">Format</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>csquarecode</td>
			<td>string</td>
		</tr>

		<tr>
			<td>depthmin</td>
			<td>real</td>
		</tr>
		<tr>
			<td>depthmax</td>
			<td>real</td>
		</tr>
		<tr>
			<td>depthmean</td>
			<td>real</td>
		</tr>
		<tr>
			<td>depthsd</td>
			<td>real</td>
		</tr>
		<tr>
			<td>sstanmean</td>
			<td>real</td>
		</tr>
		<tr>
			<td>sstansd</td>
			<td>real</td>
		</tr>
		<tr>
			<td>sstmnmax</td>
			<td>real</td>
		</tr>
		<tr>
			<td>sstmnmin</td>
			<td>real</td>
		</tr>
		<tr>
			<td>sstmnrange</td>
			<td>real</td>
		</tr>
		<tr>
			<td>sbtanmean</td>
			<td>real</td>
		</tr>
		<tr>
			<td>salinitymean</td>
			<td>real</td>
		</tr>
		<tr>
			<td>salinitysd</td>
			<td>real</td>
		</tr>
		<tr>
			<td>salinitymax</td>
			<td>real</td>
		</tr>
		<tr>
			<td>salinitymin</td>
			<td>real</td>
		</tr>
		<tr>
			<td>salinitybmean</td>
			<td>real</td>
		</tr>

		<tr>
			<td>primprodmean</td>
			<td>integer</td>
		</tr>

		<tr>
			<td>iceconann</td>
			<td>real</td>
		</tr>
		<tr>
			<td>iceconspr</td>
			<td>real</td>
		</tr>
		<tr>
			<td>iceconsum</td>
			<td>real</td>
		</tr>
		<tr>
			<td>iceconfal</td>
			<td>real</td>
		</tr>
		<tr>
			<td>iceconwin</td>
			<td>real</td>
		</tr>

		<tr>
			<td>faoaream</td>
			<td>integer</td>
		</tr>

		<tr>
			<td>eezall</td>
			<td>string</td>
		</tr>

		<tr>
			<td>lme</td>
			<td>integer</td>
		</tr>
		<tr>
			<td>landdist</td>
			<td>integer</td>
		</tr>

		<tr>
			<td>oceanarea</td>
			<td>real</td>
		</tr>
		<tr>
			<td>centerlat</td>
			<td>real</td>
		</tr>
		<tr>
			<td>centerlong</td>
			<td>real</td>
		</tr>
	</tbody>
</table>
