div#RolesManagementContainer div#blanket {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1051;
    top: 0%;
    left: 0%;
}
div#RolesManagementContainer div#blanket.hiddenBlanket {
	display : none;
}
div#RolesManagementContainer p#preloader.hiddenPreloader {
	display : none;
}
div#RolesManagementContainer p#preloader {
	position: fixed;
    z-index: 1052;
    top: 40%;
    left: 45%;
} 