/*************************************************
*
* GWT-BOOTSTRAP MINIMAL CSS FOR WORKSPACE EXPLORE
*
**************************************************/
/* body { */
/*     padding-top: 50px; */
/* } */
/* div.input-prepend > input, div.input-prepend > textarea, div.input-prepend > select, div.input-prepend > .uneditable-input { */
/*     margin-bottom: 0; */
/* } */
/* div.input-append > input, div.input-append > textarea, div.input-append > select, div.input-append > .uneditable-input { */
/*     margin-bottom: 0; */
/* } */
.gwt-PopupPanel .gwt-DatePicker {
	width: 200px;
}

.gwt-SuggestBoxPopup {
	z-index: 2100;
}

.gwt-SuggestBoxPopup .suggestPopupTop {
	background-color: #FFFFFF;
}

.gwt-SuggestBoxPopup .suggestPopupMiddle {
	background-color: #FFFFFF;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
	background-color: #FFFFFF;
}

.gwt-SuggestBoxPopup .item {
	clear: both;
	color: #333333;
	cursor: pointer;
	font-size: 110%;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 9px;
	white-space: nowrap;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #0081C2;
	background-image: linear-gradient(to bottom, #0088CC, #0077B3);
	background-repeat: repeat-x;
	color: #FFFFFF;
	outline: 0 none;
	text-decoration: none;
}

.gwt-TextBox-personal {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 4px 6px;
	vertical-align: middle;
}

.form-inline input:FOCUS{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0 none
}

.margin-right-5px {
	margin-right: 5px;
}