<div align="center" class="bottomMenu">
    <a href="index.jsp" style="text-decoration: none;">
        home page
    </a>
    &nbsp;&bull;&nbsp;
    <a href="http://www.csd.uoc.gr/" target="_blank" title="University of Crete | Computer Science Department" style="text-decoration:none;">
        visit uoc-csd
    </a>
    &nbsp;&bull;&nbsp;
    <a href="http://www.ics.forth.gr/isl/" target="_blank" title="Foundation for Research and Technology - Hellas | Institute of Computer Science" style="text-decoration:none;">
        visit forth-ics-isl
    </a>
    &nbsp;&bull;&nbsp;
    <a href="login.jsp" style="text-decoration: none;">
        configuration
    </a>
    &nbsp;&bull;&nbsp;
    <a href="about.jsp" title="Foundation for Research and Technology - Hellas | Institute of Computer Science" style="text-decoration:none;">
        about
    </a>
</div>