/****************************** All modals ******************************/
#pickProjectContainer  .modal-header {
	border-bottom: 0px;
	background: #0271BE;
	background-color: #0271BE;
	color: #fff;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
#pickProjectContainer  .modal-header .close:hover {
	color: #aaeeff !important;
}
#pickProjectContainer  .modal-body {
	background: #fff;
	background-color: #fff;
}
#pickProjectContainer  #blueLineBottom button {
	color: #fff;
	opacity : 1;
	font-size: 1.2em;
}
#pickProjectContainer  #blueLineBottom button:hover {
	color: #eeeeee;
}
#pickProjectContainer .modal {
	border-radius: 1.1em;
	padding-bottom: 1em;
	/* background: #fff; */
	/* background-color: #fff; */
}
#pickProjectContainer #projectViewModal .viewDetailsLabels {
	color: #0271be;
}
#pickProjectContainer #usersListViewDetails,
	#pickProjectContainer #layersListViewDetails {
	list-style-type: none;
	display: inline-block;
	margin-left: 0px;
	/* height: 90px; */
	/* overflow-y: scroll; */
}
#pickProjectContainer .viewModalProjectAttributes:not(#viewModalProjectLayerNames) {
	margin-bottom: 1em;
}
#pickProjectContainer #RelateUsersToProjectModal {
	width: 50%;
	left:25%;
	margin-left: 0%;
	height: 65%;
}
@media (max-width:768px){
	#pickProjectContainer #RelateUsersToProjectModal {
		width: 90%;
		left:5%;
		margin-left: 0%;
	}
}
#pickProjectContainer #RelateUsersToProjectModal .modal-footer {
	height: 60px;
}
#pickProjectContainer #RelateUsersToProjectModal .modal-body {
	height: 85%;
	max-height: 100%;
	overflow-y: scroll;
}
#pickProjectContainer .modal-footer {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top: none;
	/* position: absolute; */
	display: block;
	width: 100%;
	padding: 0.5em 0em 1em 0em;
	background: #fff;
	background-color: #fff;
	/* bottom: 0; */
	/* right: 0; */
}
#pickProjectContainer .modal-footer button {
	color : #fff;
	background: #0271BE;
	background-color: #0271BE;
	border-radius: 0.4em;
	padding: 0.4em;
	margin-right: 1em;
	font-weight: normal;
	font-size: 17px;
}
@media (max-width:767px) {
	#pickProjectContainer .modal-footer button {
		margin: 0.2em 0 0 0;
	}
}
#pickProjectContainer .modal-footer button:hover {
	color : #0271BE;
	background: #eeeeee;
	background-color: #eeeeee;
}
/************************* InternalServerErrorModal *************************/
#InternalServerErrorModal .modal-body {
	/* height: 80px; */
}
/****************************** Wizard modals ******************************/
#pickProjectContainer .modalBodyTitleContainer p {
	margin: 0;
}
#pickProjectContainer .modalBodyTitle {
	color : #0271BE;
}
#pickProjectContainer .modalBodyTitleSubheader {
	color : #777;
}
/****************************** Create new project modal ******************************/
#pickProjectContainer #BBOXModal {
	width: 65%;
	height: 80%;
	left: 55%;
	margin-left: -37.5%;
}
#pickProjectContainer #BBOXModal .modal-body{
	max-height: 100%;
	height: 90%;
	/* overflow-y: visible; */
	background: #fff;
	background-color: #fff;
}
#pickProjectContainer #BBOXModal #mapContainer {
	height: 70%;
	margin-top: 0.5em;
}
#pickProjectContainer #BBOXModal #mapBBOX {
	height: 100%;
}
#pickProjectContainer #bboxCoordsAndDrawButton {
	margin-top: 0.5em;
}
#pickProjectContainer #boxCoordsTitle {
    color: #0271BE;
}
#pickProjectContainer #drawShape,
#pickProjectContainer #clearMap {
    background-color: #0271BE;
    background: #0271BE;
    color: #fff;
    border-radius : 0.4em;
    border: none;
    right: 1em;
    position: absolute;
}
#pickProjectContainer #clearMap:active {
	background: #ddd;
    background-color: #ddd;
}
#pickProjectContainer #clearMap:hover {
	background: #4CB5D2;
    background-color: #4CB5D2;
}
#pickProjectContainer #drawShape {
	display:none;
}
#pickProjectContainer #polygon {
	background-image: url("../../../img/polygon_white.png");
	display: inline-block;
	background-size: 35px 15px;
	background-repeat: no-repeat;
	width: 35px;
	height: 15px;
}
#pickProjectContainer .coordLabel {
	border: 1px solid #777;
	border-radius: 0.4em;
	height: 3em;
	text-align: center;
	background: #DDDDDD;
	opacity: 0.7;
	cursor: default;
}
#pickProjectContainer .coordLabelContainer {
	margin-bottom : 0.5em;
	margin-top: 0.5em;
}
/****************************** Select layers modal ******************************/
#pickProjectContainer #ChooseLayersModal {
	width: 50%;
	left: 25%;
	margin-left: 0%;
	height: 70%;
}
#pickProjectContainer #ChooseLayersModal .modal-footer {
/* 	position: absolute; */
	bottom: 0 !important;
	margin-bottom:0;
}
#pickProjectContainer #ChooseLayersModal .modal-body {
	min-height: 85%;
}
#appTabs{
	border-bottom: 2px solid #019ad3;
	margin-bottom: .3em;
}
#pickProjectContainer #treeviewLayers {
	height: 250px;
	overflow-y: hidden;
}
#pickProjectContainer #layerTabsContainer {
	margin-top: 1em;
}
#pickProjectContainer .tabLink {
	background: #0271be;
	background-color: #0271be;
	color: #fff;
	border: none;
	padding: 0.5em 1em;
}
#pickProjectContainer .tabLink:hover {
	background: #4CB5D2;
	background-color: #4CB5D2;
}
#pickProjectContainer .active .tabLink {
	background: #019ad3;
	background-color: #019ad3;
}
#pickProjectContainer #layerTabs {
	padding-bottom: 1.3px;
	border-bottom: 3px solid #019ad3;
}
#pickProjectContainer #treeviewLayers ul {
	margin : 0;
}
#pickProjectContainer #modalLayerMapContainer {
	height: 300px;
	margin-bottom: 1.5em;
}
#pickProjectContainer #modalLayerMap {
	height: 100%;
}
/****************************** Relate Users To Project modal ******************************/
#pickProjectContainer .dataTables_scrollHead th {
	background-image: none !important;
}
#pickProjectContainer .dataTables_scrollHeadHeadInner thead th,
#pickProjectContainer .dataTables_scrollBody {
	border:none;
}
#pickProjectContainer .dataTables_scrollBody{
	margin-bottom: 1em;
}
#pickProjectContainer #relateUsersToProjectsTable {
	margin-bottom: 1em;
}
#pickProjectContainer #relateUsersToProjectsTable_filter input {
	border-radius: 1em;
}
#pickProjectContainer .dataTables_scrollHead th {
	background-image : none;
	position: relative;
	color: #0271be;
	text-transform: capitalize;
	font-weight:normal;
	text-align: left;
	margin:0;
	padding-left: 0.8em;
	border: none;
}
#pickProjectContainer .dataTables_scrollHead th.sorting_desc:after {
	content: "\f0dd";
	color: #0271be;
	font-family: Fontawesome;
	right: 0px;
	position:absolute;
}
#pickProjectContainer .dataTables_scrollHead th.sorting:after {
	content: "\f0dc";
	color: #0271be;
	font-family: Fontawesome;
	right: 0px;
	position:absolute;
}
#pickProjectContainer .dataTables_scrollHead th.sorting_asc:after {
	content: "\f0de ";
	color: #0271be;
	font-family: Fontawesome;
	right: 0px;
	position:absolute;
}
#pickProjectContainer #relateUsersToProjectsTable thead th,
	#pickProjectContainer #relateUsersToProjectsTable {
	border: none;
}
#pickProjectContainer .tableTagsContainer {
	margin-top: 1em;
	margin-bottom: 1em;
}
#pickProjectContainer #relateUsersToProjectsTable_length * {
	color: #0271be;
}
#pickProjectContainer .selectedUsersHeader {
	color: #0271be;
	margin-bottom: 0.5em;
}
#pickProjectContainer .selectdUsersTagSection {
	border: 1px solid #dddddd;
	min-height: 4em;
	max-height: 6em;
	border-radius: 0.4em;
	overflow-y: scroll;
}
#pickProjectContainer .bootstrap-tagsinput input {
	display:none !important;
}
#pickProjectContainer .bootstrap-tagsinput {
	margin:.3em 0 .5em 0;
	border: none;
	height: 1.3em;
}
#pickProjectContainer .bootstrap-tagsinput .tag.label {
	background: #0271be;
	background-color: #0271be;
	border-radius: 1em;
	padding: 0.5em 0.8em;
	margin-bottom: 0.5em;
}
#pickProjectContainer .relateUsersToProjectsButtons {
	border-radius: 0.4em;
	padding: 0.3em 1.2em;
	border: none;
	background-color: #0271be;
	background: #0271be;
	color: #fff;
	width: 8em;
}
#pickProjectContainer .relateUsersToProjectsButtons i {
	margin-top: 0.2em;
}
/************ Create Project Modal ************/
#pickProjectContainer .projectAttributes {
	margin-top: 1em;
}
#pickProjectContainer .projectAttributes label {
	color: #0271be;
}
#pickProjectContainer .projectAttributes input,
#pickProjectContainer .projectAttributes textarea {
	border-radius: 0.2em;
    border: 1px solid #d1d1d1;
}
#pickProjectContainer #onDeleteSure .modal-footer{
	background:#fff;
	background-color: #fff;
}
#pickProjectContainer #onDeleteSure .close{
	color: #fff;
	opacity: 1;
}