@CHARSET "UTF-8";

.wizard-card-title {
	padding: 5px;
	font-weight: bold;
	font-size: small;
	background-color: #f1f1f1;
}

.wizard-card-footer {
	padding: 5px;
	font-weight: bold;
	font-size: x-small;
	text-align: left;
	background-color: #f1f1f1;
}

.wizard-previous-button-text {
	line-height: 24px;
	vertical-align: middle;
}

.wizard-previous-button-icon {
	vertical-align: middle;
	float: left;
}

.wizard-next-button-text {
	line-height: 24px;
	vertical-align: middle;
}

.wizard-next-button-icon {
	vertical-align: middle;
	float: right;
}

.wizard-tool-button-text {
	margin-left: -20px;
	margin-top: 2px;
	
}
.wizard-tool-button-text:hover {
	margin-left: -20px;
	margin-top: 0px;
	
}


.wizard-tool-button-icon {
	height: 20px;
}

.wizard-tool-button-icon:hover {
	height: 20px;
	border: 1px solid #222;
}

.card-panel {
	border: 1px solid #ccc;
	background-color: white;
	margin-top: 4px;
	margin-bottom: 4px;
	
}

.card-panel-content {
	margin: 6px;
}


/* Progress */
.progress-bar-container {
	width: 100%;
    height: 25px;
    position: relative;
    background-color: #f1f1f1;	
}

.progress-bar {
	color: #fff;
    background-color: #a5a5a5;
    height: 100%;
    position: absolute;
    line-height: inherit;
}

.progress-bar-text {
	text-align: center;
	color: #2d2d2d;
	position: absolute;
    width: 100%;
    margin-top: 5px;
}
