.aui #layerInfoModal input[type="text"] {
	width: 50%;
}

.aui #layerInfoModal textarea[type="text"] {
	width: 50%;
}

.aui #layerInfoModal label.modalLayerNameError,
.aui #layerInfoModal label.modalLayerStyleError {
	color: #b94a48;
	font-size: 12px;
	display: none;
}

.aui #layerInfoModal select.modalLayerStyle{
	width: 53%;
}

.aui label#urlInputError {
	color: #b94a48;
	font-size: 12px;
	display: none;
	padding-left: 4px
}

.aui .adminContainer #firstV {
	line-height: 0px;
	padding: 10px;
}