/* FIX FOR Portal Theme */
.aui body {
	color: #000;
	font-weight: normal !important;
}

.aui input[type="text"], .aui select, .aui textarea, .aui .uneditable-input
	{
	margin-bottom: 1px !important;
	padding: 0px !important;
}

.aui input[type="radio"], .aui input[type="checkbox"] {
	margin: 0px !important;
	width: 10px !important;
}

.aui input, .aui textarea, .aui .uneditable-input {
	width: 100% !important;
}

.aui p {
	margin: 0px !important;
}

.aui img {
	vertical-align: baseline !important;
}

.aui fieldset {
	padding: 9px !important;
	/* margin: 0; */
	border: 1px solid rgb(181, 184, 200) !important;
}

.aui legend {
	margin-bottom: 0px !important;
	width: auto !important;
	border-bottom: none !important;
}

.aui label {
    display: inline !important; 
 
 }

.aui ul, .aui ol {
    margin: 0px !important;
}

/* Workspace Explorer */
#drop_target_inner {
	background-image: url("statalgoimporter/images/upload_128.png") !important;
}

