@CHARSET "UTF-8";

ul.layerInfoPanel {
	list-style-type: none;
	padding-top: 20px;
	padding-left: 5px;
	margin: 0px;
}

li.layerInfoPanel-field {
	background-image: url(images/square_blue.png);
	background-repeat: no-repeat;
	background-position: 0px -1px;
	padding-left: 15px;
	padding-bottom: 15px;
	color: navy;
	font-size: 12px;
	font-weight: bold;
}

li.layerInfoPanel-item-value {
	padding-top: 3px;
	color: #111111;
	font-size: 12px;
}

.layerInfoPanel-key {
	
}

.layerInfoPanel-value {
	font-weight: normal;
}

.layerInfoPanel-imgPreview {
	margin-left: 20px;
	display: block;
	border: 1px solid;
}

.layerInfoPanel-imgPreload {
	margin-left: 80px;
	margin-top: 30px;
	display: block;
}

.imgCursor:hover {
	cursor: pointer;
	opacity:0.7;
}
.whiteBackground{
	background-color: white;
}