/* Style */
.uiDataMainPanel {
	background-color: white;
}

.uiDataParagraphCentered {
	text-align: center;
}

.uiDataFiltersPanel {
	float: left;
	margin-right: 10px;
}

.uiDataFiltersPeriodPanel {
	border-color: #eeeeee !important;
	border-style: solid !important;
	border-width: 1px !important;
	padding: 3px !important;
	margin-bottom: 5px;
}

.uiDataFiltersExplorePanel {
	border-color: #eeeeee !important;
	border-style: solid !important;
	border-width: 1px !important;
	padding: 3px !important;
	margin-bottom: 5px;
}

.uiDataFiltersTitle {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 0px;
	margin: 1px;
}

.uiDataFiltersFormPanel {
	margin: 0px !important;
}

.uiDataFiltersControls {
	margin-left: 60px;
}

.uiDataExploreTree {
	/*float: left;
	margin-right: 10px;*/
	
}




/* Report*/
.uiDataReportPanel {
	float: left;
}

/* TabPanel */
.uiDataReportTabPanel {
	max-width: 800px;
}


/* Chart */
.uiDataChartWrapper {
	width: 800px;
	/*border: solid 1px;*/
}

.uiDataChartCanvas {
	/*height-max: 800px;*/
	height: 600px;
	/*height-min: 500px;*/
	width:100%;
	/*width: 990px;*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.uiDataChartMenuPosition {
	top: 30px !important;
	left: 634px!important;
	/*left: 862px !important;*/
}

/* Monitor Dialog */
.uiDataMonitorPopup {
	background-color: white;
	border: 1px double #999;
	padding: 0 15px;
	height: 70px;
	z-index: 1070;
}

.uiDataMonitorPopupGlass {
	background-color: #333333;
	opacity: 0.5;
	clip: rect(auto, auto, auto, auto);
	z-index: 1050;
}

.uiDataMonitorPopupProgress {
	/*margin: 5px;*/
	height: 20px;
}

/* Dialog */
.uiDataPopup {
	background-color: white;
	border: 1px double #999;
	padding: 0 15px;
	z-index: 1070;
}

.uiDataPopupGlass {
	background-color: #333333;
	opacity: 0.5;
	clip: rect(auto, auto, auto, auto);
	z-index: 1050;
}

.uiDataPopupCaption {
	display: block;
	font-size: large;
	margin-top: 5px;
	margin-bottom: 2px;
}

.uiDataPopupHr {
	margin: 0px !important;
	margin-bottom: 5px;
	height: 3px;
	border: 0;
	box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}

/* Icons */
@sprite .uiDataIconSettings {
	gwt-image: "settingsImage";
	display: block;
	float: left;
	margin: 0px;
	margin-right: 3px;
}

