.cellTreeWidget {
  
}

.cellTreeEmptyMessage {
  padding-left: 16px;
  font-style: italic;
}

.cellTreeItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: hand;
  cursor: pointer;
  zoom: 1;
}

.cellTreeItemImage {
  
}

.cellTreeItemImageValue {
  zoom: 1;
}

.cellTreeItemValue {
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

.cellTreeOpenItem {
  
}

.cellTreeTopItem {
  /*font-weight: bold;*/
  color: #000;
  margin-top: 20px;
  padding: 3px 13px 3px 10px !important;
}

.cellTreeTopItemImage {
  
}

.cellTreeTopItemImageValue {
  /*border-bottom: 1px solid #6f7277;
  padding-bottom: 1px;*/
}

.cellTreeKeyboardSelectedItem {
  background-color: #ffc;
  outline: none;
}

@sprite .cellTreeSelectedItem {
  gwt-image: 'cellTreeSelectedBackgroundCustom';
  background-color: #0caad9;/*#628cd5;*/
  color: white;
  height: auto;
  width: auto;
  overflow: visible;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
  outline: none;
}
