/* Themes Style is in a separated css*/
@import url("themes/themes.css");
/* @import url("old-dialog.css"); */

.imageShadow {
	-moz-box-shadow: 5px 5px 7px #888;
	-moz-border-radius-bottomright: 15px;
	-webkit-box-shadow: 5px 5px 7px #888;
	-webkit-border-radius-bottomright: 15px;
	border-radius-bottomright: 15px;
	box-shadow: 5px 5px 7px #888;
}

.maskStyle {
	background-color: #999;
	opacity: 0.2;
}
.selected {
	font-weight: bolder;
}

.myCheckbox {
	color: #444;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 10px;
	text-align: justify;
}

.textHtml {
	color: #444;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 10px;
	text-align: justify;
}

.theTitle {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
	padding-top: 5px;
}

.imageDiv {
	border-left-color: #EEE;
	border-left-style: solid;
	border-left-width: 1px;
}

.border {
	border: 1px solid black;
}

a.link,a.link:active,a.link:visited {
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
}

a.link:hover {
	opacity: 0.8;
	text-decoration: underline;
}

.wizardButton {
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	background: #F2F2F2 url(tour_images/white-grad.png) repeat-x scroll left
		top;
	border-color: #BBB;
	color: #464646;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	cursor: hand;
	margin-right: 5px;
	padding: 2px 4px;
}

.wizardButton[disabled]:hover,.wizardButton[disabled]:active,.wizardButton[disabled]
	{
	color: #CCC;
	border-color: #BBB;
	cursor: default;
	opacity: 1.0;
	background: #F2F2F2 url(tour_images/white-grad.png) repeat-x scroll left
		top;
}

.wizardButton:hover {
	border-color: #222;
	color: #222;
	opacity: 0.8;
}

.wizardButton:active {
	background: #e3e8f3 url(tour_images/hborder.png) repeat-x scroll left
		top;
}

.buttonPanel {
	padding-top: 5px;
	border-top-color: #EEE;
	border-top-style: solid;
	border-top-width: 1px;
}

.breadcrumbs {
	margin: 3px;
	margin-left: 5px;
	float: left;
	border: 1px solid #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.breadcrumbs ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.breadcrumbs li {
	color: #444;
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial,
		sans-serif;
	font-size: 12px;
	float: left;
	height: 2em;
	line-height: 2em;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("tour_images/breadcrumbs.png");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: block;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumbs li.final {
	background-image: none;
}

.breadcrumbs li.selected {
	color: #336699;
	font-weight: bold;
}

.breadcrumbs li span {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}