.loader,
.loader:after {
	border-radius: 50%;
  	margin: 2px 0px 0px 5px;  	
    width: 15px;
    height: 15px;
	display: inline-block;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(2,113,190, 0.2);
  border-right: 5px solid rgba(2,113,190, 0.2);
  border-bottom: 5px solid rgba(2,113,190, 0.2);
  border-left: 5px solid #0271be;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
